<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Page Title -->
  <title>

   MPCHS | NewsLetter
  </title>
  <link rel = "icon" type = "image/png" href = "../icon/multi logo.ico">
  <!-- Meta Data -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <!-- Favicon -->
  <link rel="shortcut icon" href="favicon.png" />

  <!-- ======= Icons ======= -->
  <link rel="stylesheet" href="../assets/dependencies/flaticon/flaticon.css" />
  <link rel="stylesheet" href="../assets/css/all.min.css" />

  <!-- ======= Carousel  ======= -->
  <link rel="stylesheet" href="../assets/dependencies/slick/slick.min.css" />

  <!-- ======= Animation  ======= -->
  <link rel="stylesheet" href="../assets/dependencies/animation/animate.min.css" />
  <link rel="stylesheet" href="../assets/dependencies/animation/custom-animation.css" />
  <link rel="stylesheet" href="../assets/dependencies/fancybox/jquery.fancybox.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <!-- ======= Main Stylesheet ======= -->
  <link rel="stylesheet" href="../assets/css/style.css" />

  <!-- ======= Custom Stylesheet ======= -->
  <link rel="stylesheet" href="/css/mapp.css" />

  <link rel="stylesheet" href="../assets/css/custom.css" />
  <link rel="stylesheet" href="../assets/css/style1.css">
  <link rel="stylesheet" href="../assets/css/style.scss">
  <link rel="stylesheet" href="../assets/css/styl2.scss">
  <link rel="stylesheet" href="../assets/css/navbardropdown.css">
  <link rel="stylesheet" href="../assets/css/newsletter.css">
  <style>
       .reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}
  </style>
  <script>
   
    document.onreadystatechange = function() {
       if (document.readyState !== "complete") {
           document.querySelector("body").style.visibility = "hidden";
           document.querySelector("#loader").style.visibility = "visible";
       } else {
           document.querySelector("#loader").style.display = "none";
           document.querySelector("body").style.visibility = "visible";
       }
   };
   
   
   </script>
   <style>
     .diss{
       margin-left: 100px;
       color: red;
       
     
     }
     .visi{
      width: 30px;
       height: 30px;
       color: red;
     }
     a:visited {
  color: black;

}
a:visited .diss{
  display:none;
}
li {
    padding-top: 15px;
}

.newsimage{
  width: 25px;
  height: 25px;
  margin-bottom: 13px;

}
.hero-inner__bg_two:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: none;
    z-index: 0;
}
.containerr {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
}
h2 small {
  font-size: 0.5em;
}

.responsive-table li {
  border-radius: 3px;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.responsive-table .table-header {
  background-color: #95A5A6;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.responsive-table .table-row {
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}
.responsive-table .col-1 {
  flex-basis: 10%;
}
.responsive-table .col-2 {
  flex-basis: 40%;
}
.responsive-table .col-3 {
  flex-basis: 25%;
}
.responsive-table .col-4 {
  flex-basis: 25%;
}
@media all and (max-width: 767px) {
  .responsive-table .table-header {
    display: none;
  }
  .responsive-table li {
    display: block;
  }
  .responsive-table .col {
    flex-basis: 100%;
  }
  .responsive-table .col {
    display: flex;
    padding: 10px 0;
  }
  .responsive-table .col:before {
    color: #6C7A89;
    padding-right: 10px;
    content: attr(data-label);
    flex-basis: 50%;
    text-align: right;
  }
}
@media (max-width: 575px){
.hero-inner__bg {
    background-position: center;
}
}
   </style>
 </head>

  <body>
    <div id="loader" class="se-pre-con"></div>

    <div id="wrapper" class="wrapper">
      <div id="main__content">
        <!-- ======= Header Start ======= -->
        <%- include('../partial/navbar.ejs') %>

        <!-- Mobile Menu Start -->
        <%- include('../partial/mobile_menu.ejs') %>
        <!-- Mobile Menu Start End -->
        <!-- ======= Header End ======= -->

        <!-- ======= Main Wrapper Start ======= -->
        <main class="main-wrapper">
          <!-- ======= Hero inner Start ======= -->
          <section class="hero-inner">
            <div
              class="hero-inner__bg hero-inner__bg_two"
              data-bg-image="../assets/images/aboutus/newsletter/newsletter.webp"
            >
              <div class="containerr">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="page-breadcrumb">
                      <!-- <h1 class="heading">NewsLetters</h1> -->
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- ======= Hero inner End ======= -->
<section style="background-color: white; padding-top: 30px; padding-bottom: 30px;">
    <div class="container">
     

            <div class="container">
              <h2>News Letter</h2>
              <ul class="responsive-table">
                <li class="table-header">
                  <div class="col col-1">S.No</div>
                  <div class="col col-2">News Letter Name</div>
                  <div class="col col-3">Date</div>
                  <div class="col col-4">Download</div>
                </li>
                <li class="table-row">
                  <div class="col col-1" data-label="S.NO">00</div>
                  <div class="col col-2" data-label="Name">AGM</div>
                  <div class="col col-3" data-label="Date">November 2023</div>
                  <div class="col col-4" data-label="Download"> <a href="/newsletter/AGM-Newsletter2023.pdf"> Download </a></div>
                </li>
                <li class="table-row">
                  <div class="col col-1" data-label="S.NO">01</div>
                  <div class="col col-2" data-label="Name">Multi News Letter</div>
                  <div class="col col-3" data-label="Date">June 2023</div>
                  <div class="col col-4" data-label="Download"> <a href="/newsletter/June-Newsletter2023.pdf"> Download </a></div>
                </li>
                <li class="table-row">
                  <div class="col col-1" data-label="S.NO">02</div>
                  <div class="col col-2" data-label="Name">Election List Final Scheme</div>
                  <div class="col col-3" data-label="Date">March 2023</div>
                  <div class="col col-4" data-label="Download"> <a href="https://docs.google.com/spreadsheets/d/1egSqjjsCM5hjkmy5FQ_Xk7pOySFLN_un/edit?usp=share_link&ouid=100123920994980375282&rtpof=true&sd=true"> Download </a></div>
                </li>
                <li class="table-row">
                  <div class="col col-1" data-label="S.NO">03</div>
                  <div class="col col-2" data-label="Name">Multi News Letter</div>
                  <div class="col col-3" data-label="Date">January 2023</div>
                  <div class="col col-4" data-label="Download"> <a href="https://drive.google.com/file/d/1SaXE0X5T1SXTV5RwPBJXsJ33MrtJ_zUo/view?usp=sharing"> Download </a></div>
                </li>
                <li class="table-row">
                  <div class="col col-1" data-label="S.NO">04</div>
                  <div class="col col-2" data-label="Name">Multi News Letter</div>
                  <div class="col col-3" data-label="Date">December 2022</div>
                  <div class="col col-4" data-label="Download"> <a href="https://drive.google.com/file/d/1EbJu7d6HNxSr2q-Ca_UgVBxrUEdjJOFK/view?usp=sharing"> Download </a></div>
                </li>
                <li class="table-row">
                  <div class="col col-1" data-label="S.NO">05</div>
                  <div class="col col-2" data-label="Name">Dengue Awarness </div>
                  <div class="col col-3" data-label="Date">September 2022</div>
                  <div class="col col-4" data-label="Download"> <a href="/about-us/newsletters/dengue-awarness-2022"> Download </a></div>
                </li>
                <li class="table-row">
                  <div class="col col-1" data-label="S.NO">06</div>
                  <div class="col col-2" data-label="Name">Multi Newsletter </div>
                  <div class="col col-3" data-label="Date">August 2022</div>
                  <div class="col col-4" data-label="Download"> <a href="/about-us/newsletters/Multi-Newsletter-august-2022"> Download </a></div>
                </li>
                <li class="table-row">
                  <div class="col col-1" data-label="S.NO">07</div>
                  <div class="col col-2" data-label="Name">Multi Newsletter </div>
                  <div class="col col-3" data-label="Date">2021</div>
                  <div class="col col-4" data-label="Download"> <a href="/about-us/newsletters/News-Letter-2021"> Download </a></div>
                </li>
                <li class="table-row">
                  <div class="col col-1" data-label="S.NO">08</div>
                  <div class="col col-2" data-label="Name">Multi Newsletter </div>
                  <div class="col col-3" data-label="Date"> November 2020</div>
                  <div class="col col-4" data-label="Download"> <a href="/about-us/newsletters/Newsletter-November-2020"> Download </a></div>
                </li>
                <li class="table-row">
                  <div class="col col-1" data-label="S.NO">09</div>
                  <div class="col col-2" data-label="Name">Multi Newsletter </div>
                  <div class="col col-3" data-label="Date"> November 2019</div>
                  <div class="col col-4" data-label="Download"> <a href="/about-us/newsletters/Newsletter-November-2019"> Download </a></div>
                </li>
                <li class="table-row">
                  <div class="col col-1" data-label="S.NO">10</div>
                  <div class="col col-2" data-label="Name">Multi Newsletter </div>
                  <div class="col col-3" data-label="Date"> October 2019</div>
                  <div class="col col-4" data-label="Download"> <a href="/about-us/newsletters/Multi-Newsletter-october-2019"> Download </a></div>
                </li>
                <li class="table-row">
                  <div class="col col-1" data-label="S.NO">11</div>
                  <div class="col col-2" data-label="Name">Multi Newsletter </div>
                  <div class="col col-3" data-label="Date"> September 2019</div>
                  <div class="col col-4" data-label="Download"> <a href="/about-us/newsletters/Multi-Newsletter-september-2019"> Download </a></div>
                </li>
                <li class="table-row reveal">
                  <div class="col col-1" data-label="S.NO">12</div>
                  <div class="col col-2" data-label="Name">Multi Newsletter </div>
                  <div class="col col-3" data-label="Date">February 2019</div>
                  <div class="col col-4" data-label="Download"> <a href="/about-us/newsletters/Multi-Newsletter-February-2019"> Download </a></div>
                </li>
               
                <li class="table-row reveal">
                  <div class="col col-1" data-label="S.NO">13</div>
                  <div class="col col-2" data-label="Name">Multi Newsletter </div>
                  <div class="col col-3" data-label="Date">November 2018</div>
                  <div class="col col-4" data-label="Download"> <a href="/about-us/newsletters/Multi-Newsletter-November-2018"> Download </a></div>
                </li>
                <li class="table-row reveal">
                  <div class="col col-1" data-label="S.NO">14</div>
                  <div class="col col-2" data-label="Name">Multi Newsletter </div>
                  <div class="col col-3" data-label="Date">November 2017</div>
                  <div class="col col-4" data-label="Download"> <a href="/about-us/newsletters/Multi-Newsletter-November-2017"> Download </a></div>
                </li>
                <li class="table-row reveal">
                  <div class="col col-1" data-label="S.NO">15</div>
                  <div class="col col-2" data-label="Name">Multi Newsletter </div>
                  <div class="col col-3" data-label="Date">September 2017</div>
                  <div class="col col-4" data-label="Download"> <a href="/about-us/newsletters/Multi-Newsletter-September-2017"> Download </a></div>
                </li>
                <li class="table-row reveal">
                  <div class="col col-1" data-label="S.NO">16</div>
                  <div class="col col-2" data-label="Name">Multi newsletter </div>
                  <div class="col col-3" data-label="Date"> 2017</div>
                  <div class="col col-4" data-label="Download"> <a href="/about-us/newsletters/Multi-newsletter-2017"> Download </a></div>
                </li>
                <li class="table-row reveal">
                  <div class="col col-1" data-label="S.NO">17</div>
                  <div class="col col-2" data-label="Name">Multi Newsletter </div>
                  <div class="col col-3" data-label="Date">April 2016</div>
                  <div class="col col-4" data-label="Download"> <a href="/about-us/newsletters/Multi-Newsletter-April-2016"> Download </a></div>
                </li>
                <li class="table-row reveal">
                  <div class="col col-1" data-label="S.NO">18</div>
                  <div class="col col-2" data-label="Name">Multi Newsletter </div>
                  <div class="col col-3" data-label="Date"> March 2016</div>
                  <div class="col col-4" data-label="Download"> <a href="/about-us/newsletters/NewsLetter-March16"> Download </a></div>
                </li>
               
              </ul>
            </div>
         
    </div>
</section>
          <!-- ======= Services Details Start ======= -->
          

          <!-- ======= Services Details End ======= -->

       
        </main>
        <!-- ======= Main Wrapper End ======= -->

        <!-- Footer -->
        <%- include('../partial/footer.ejs') %>
        <div class="progress-wrap active-progress">
          <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 227.034;"></path>
          </svg>
        </div>

        
        <script>
          function reveal() {
    var reveals = document.querySelectorAll(".reveal");
    
    for (var i = 0; i < reveals.length; i++) {
    var windowHeight = window.innerHeight;
    var elementTop = reveals[i].getBoundingClientRect().top;
    var elementVisible = 150;
    
    if (elementTop < windowHeight - elementVisible) {
      reveals[i].classList.add("active");
    } else {
      reveals[i].classList.remove("active");
    }
    }
    }
    
    window.addEventListener("scroll", reveal);
          
          </script>
    <!-- ======= jQuery Library ======= -->
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/dependencies/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="../assets/dependencies/slick/slick.min.js"></script>
    <script src="../assets/dependencies/parallax/parallaxie.js"></script>
    <script src="../assets/dependencies/greensock/TweenMax.min.js"></script>
    <script src="../assets/dependencies/tilt/vanilla-tilt.min.js"></script>
    <script src="../assets/dependencies/counter-up/jquery.counterup.min.js"></script>
    <script src="../assets/dependencies/waypoints/jquery.waypoints.min.js"></script>
    <script src="../assets/dependencies/animation/wow.min.js"></script>
    <script src="../assets/dependencies/fancybox/jquery.fancybox.min.js"></script>
    <script src="../assets/js/modernizr-3.5.0.min.js"></script>
    <script src="../assets/dependencies/hoverdir/jquery.hoverdir.js"></script>
    <script src="../assets/dependencies/niceselect/jquery.nice-select.min.js"></script>
    <script src="../assets/dependencies/anime/anime.min.js"></script>
    <script src="../assets/dependencies/niceselect/jquery.nice-select.min.js"></script>
    <script src="../assets/dependencies/isotope/isotope.pkgd.min.js"></script>
    <script src="../assets/dependencies/isotope/imagesloaded.pkgd.min.js"></script>

    <!-- ======= Main JS ======= -->
    <script src="../assets/js/main.js"></script>

    <!-- ======= Custom JS ======= -->
    <script src="../assets/js/custom.js"></script>
    <script src="../assets/js/navbardropdown.js"></script>
   
  </body>
</html>
