<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Page Title -->
  <title>

   MPCHS | Gallery
  </title>
  <link rel = "icon" type = "image/png" href = "../icon/multi logo.ico">
  <!-- Meta Data -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <!-- Favicon -->
  <link rel="shortcut icon" href="favicon.png" />

  <!-- ======= Icons ======= -->
  <link rel="stylesheet" href="../assets/dependencies/flaticon/flaticon.css" />
  <link rel="stylesheet" href="../assets/css/all.min.css" />

  <!-- ======= Carousel  ======= -->
  <link rel="stylesheet" href="../assets/dependencies/slick/slick.min.css" />

  <!-- ======= Animation  ======= -->
  <link rel="stylesheet" href="../assets/dependencies/animation/animate.min.css" />
  <link rel="stylesheet" href="../assets/dependencies/animation/custom-animation.css" />
  <link rel="stylesheet" href="../assets/dependencies/fancybox/jquery.fancybox.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <!-- ======= Main Stylesheet ======= -->
  <link rel="stylesheet" href="../assets/css/style.css" />

  <!-- ======= Custom Stylesheet ======= -->
  <link rel="stylesheet" href="/css/mapp.css" />

  <link rel="stylesheet" href="../assets/css/custom.css" />
  <link rel="stylesheet" href="../assets/css/style1.css">
  <link rel="stylesheet" href="../assets/css/style.scss">
  <link rel="stylesheet" href="../assets/css/styl2.scss">
  <link rel="stylesheet" href="../assets/css/navbardropdown.css">
  <link rel="stylesheet" href="../assets/css/gallery.css">
  <style>
    .content33{
      margin-top: 40px;
    }
    .hero-inner__bg_two:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: none;
    z-index: 0;
}
.paragraphgallery{
  margin-top: 50px;
  text-align: center;
  text-indent: 50px;
    
    letter-spacing: 3px;
    padding-bottom: 20px;
}
@media (max-width: 575px){
.hero-inner__bg {
    background-position: center;
}
}
  </style>
  
  <script>
   
    document.onreadystatechange = function() {
       if (document.readyState !== "complete") {
           document.querySelector("body").style.visibility = "hidden";
           document.querySelector("#loader").style.visibility = "visible";
       } else {
           document.querySelector("#loader").style.display = "none";
           document.querySelector("body").style.visibility = "visible";
       }
   };
   
   
   </script>
 </head>

  <body>
    <div id="loader" class="se-pre-con"></div>

    <div id="wrapper" class="wrapper">
      <div id="main__content">
        <!-- ======= Header Start ======= -->
        <%- include('../partial/navbar.ejs') %>

        <!-- Mobile Menu Start -->
        <%- include('../partial/mobile_menu.ejs') %>
        <!-- Mobile Menu Start End -->
        <!-- ======= Header End ======= -->

        <!-- ======= Main Wrapper Start ======= -->
        <main class="main-wrapper">
          <!-- ======= Hero inner Start ======= -->
          <section class="hero-inner">
            <div
              class="hero-inner__bg hero-inner__bg_two"
              data-bg-image="../assets/images/gallery/frontend/header.jpg"
            >
              <div class="container">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="page-breadcrumb">
                   
                     
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- ======= Hero inner End ======= -->

          <!-- ======= Services Details Start ======= -->
          
          <h1 class="heading" style="text-align: center; padding-top: 40px; padding-bottom: 30px;font-weight: bold;">MPCHS Gallery</h1>
<main class="page-content">
  <div class="card">
    <div class="content content1">
      <h2 class="title">	Islamabad Gardens E-11/3</h2>
      <p class="copy"><br><br><br><br></p>

      <a href="/about-us/islamabadGarden-Gallery">   <button class="btn"> View Gallery</button></a>
    </div>
  </div>
  <div class="card">
    <div class="content content2">
      <h2 class="title">	Multi Residencia & Orchards</h2>
      <p class="copy"><br><br><br><br></p>
      <a href="/about-us/Islamabd-Orchards-Main">   <button class="btn"> View Gallery</button></a>
      
    </div>
  </div>
 
  <div class="card">
    <div class="content content4">
      <h2 class="title">Multi Gardens B-17 </h2>
      <p class="copy"><br><br><br><br></p>
      <a href="/about-us/Multi-Gardens">   <button class="btn"> View Gallery</button></a>

    </div>
  </div>
  <div class="card">
    <div class="content content5">
      <h2 class="title">	Tele Gardens  F-17 </h2>
      <p class="copy"><br><br><br><br></p>

      <a href="/about-us/Tele-Gardens">   <button class="btn"> View Gallery</button></a>

    </div>
  </div>
  <div class="card ">
    <div class="content content3">
      <h2 class="title">Multi Mansion</h2>
      <p class="copy"><br><br><br><br><br></p>

      <a href="/about-us/multi-mansion">   <button class="btn"> View Gallery</button></a>

    </div>
  </div>
 
  <div class="card ">
    <div class="content content33">
      <h2 class="title">Zoo <br>
        B-17 Multi Garden</h2>
      <p class="copy"><br><br><br><br></p>

      <a href="/about-us/zoo-B-17-multigarden">   <button class="btn"> View Gallery</button></a>

    </div>
  </div>
  
</main>

<div class="paragraphgallery">
  <p>To view more updates,events, pictures, videos and other media files please visit and Like our Facebook Page:
    <br>  <span ><a href="https://www.facebook.com/MPCHSOFFICIAL/"> www.facebook.com/mpchsofficial/</a></span></p>
  </div>

<!-- 
        //second one -->
<br><br>
       
        <br><br>
        
          <!-- ======= Services Details End ======= -->

       
        </main>
        <!-- ======= Main Wrapper End ======= -->

        <!-- Footer -->
        <%- include('../partial/footer.ejs') %>

    <!-- ======= jQuery Library ======= -->
    <script>
      var isbgarden = document.getElementById('topp1');
      var isbgardendisplay = document.getElementById('toppp1');
      
     
  
  
  isbgarden.onclick = function() {
    isbgardendisplay.classList.toggle('top');
    
    
  }
 
    </script>
     <script>
      var isb2garden = document.getElementById('topp2');
      var isb2sgardendisplay = document.getElementById('toppp2');
  
  
  isb2garden.onclick = function() {
    isb2gardendisplay.classList.toggle('top');
    
    
  }
    </script>
     <script>
      var isb3garden = document.getElementById('topp3');
      var isb3gardendisplay = document.getElementById('toppp3');
  
  
  isb3garden.onclick = function() {
    isb3gardendisplay.classList.toggle('top');
    
    
  }
    </script>
     <script>
      var isb4garden = document.getElementById('topp4');
      var isb4gardendisplay = document.getElementById('toppp4');
  
  
  isb4garden.onclick = function() {
    isb4gardendisplay.classList.toggle('top');
    
    
  }
    </script>
     <script>
      var isb5garden = document.getElementById('topp5');
      var isb5gardendisplay = document.getElementById('toppp5');
  
  
  isb5garden.onclick = function() {
    isb5gardendisplay.classList.toggle('top');
    
    
  }
    </script>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/dependencies/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="../assets/dependencies/slick/slick.min.js"></script>
    <script src="../assets/dependencies/parallax/parallaxie.js"></script>
    <script src="../assets/dependencies/greensock/TweenMax.min.js"></script>
    <script src="../assets/dependencies/tilt/vanilla-tilt.min.js"></script>
    <script src="../assets/dependencies/counter-up/jquery.counterup.min.js"></script>
    <script src="../assets/dependencies/waypoints/jquery.waypoints.min.js"></script>
    <script src="../assets/dependencies/animation/wow.min.js"></script>
    <script src="../assets/dependencies/fancybox/jquery.fancybox.min.js"></script>
    <script src="../assets/js/modernizr-3.5.0.min.js"></script>
    <script src="../assets/dependencies/hoverdir/jquery.hoverdir.js"></script>
    <script src="../assets/dependencies/niceselect/jquery.nice-select.min.js"></script>
    <script src="../assets/dependencies/anime/anime.min.js"></script>
    <script src="../assets/dependencies/niceselect/jquery.nice-select.min.js"></script>
    <script src="../assets/dependencies/isotope/isotope.pkgd.min.js"></script>
    <script src="../assets/dependencies/isotope/imagesloaded.pkgd.min.js"></script>

    <!-- ======= Main JS ======= -->
    <script src="../assets/js/main.js"></script>

    <!-- ======= Custom JS ======= -->
    <script src="../assets/js/custom.js"></script>
    <script src="../assets/js/navbardropdown.js"></script>
    <script src="../assets/js/gallery.js"></script>
   
  </body>
</html>
