<div class="rt-header-menu mean-container position-relative" id="meanmenu">
    <div class="mean-bar">
      <a href="it-agency.html">
        <img class="logo-small" alt="Techkit" src="assets/images/logo.png" />
      </a>
      <form class="header-bottom__col">
        <div class="header-search">
          <input placeholder="Search" type="text" class="header-search__input" />
          <button class="header-search__button">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </form>
      <span class="sidebarBtn">
        <span class="fa fa-bars"></span>
      </span>
    </div>
    <div class="rt-slide-nav">
      <div class="offscreen-navigation">
        <nav class="menu-main-primary-container">
          <ul class="menu">
            <li class="list menu-item-parent menu-item-has-children">
              <a class="animation" href="index.html">ABOUT MPCHS</a>
              <ul class="main-menu__dropdown sub-menu">
                <li><a href="index.html">Main Home</a></li>
                <li>
                  <a href="software-innovation.html"> Software Company</a>
                </li>
                <li><a href="it-agency.html">IT Agency</a></li>

                <li>
                  <a href="vertical-slider.html">Vertical Slider</a>
                </li>
              </ul>
            </li>
            <li class="list menu-item-parent menu-item-has-children">
              <a class="animation" href="about-us.html">PROJECTS</a>
              <ul class="main-menu__dropdown sub-menu">
                <li><a href="about-us.html">About Us</a></li>
                <li>
                  <a href="why-chose-us.html">Why Chose Us</a>
                </li>
                <li><a href="faq.html">Help & FAQ'S</a></li>
                <li>
                  <a href="history.html">Our History</a>
                </li>
                <li>
                  <a href="careers.html">Careers</a>
                </li>
              </ul>
            </li>
            <li class="list menu-item-parent menu-item-has-children">
              <a class="animation" href="it-solution.html">MEMBERS PORTAL</a>
              <ul class="main-menu__dropdown sub-menu">
                <li><a href="it-solution.html">It Solutions</a></li>
                <li>
                  <a href="it-services.html">It Services</a>
                </li>
                <li>
                  <a href="industries-services.html">Industries Services</a>
                </li>
                <li>
                  <a href="services-details.html">Services Details 01</a>
                </li>
                <li>
                  <a href="services-details-02.html">Services Details 02</a>
                </li>
                <li>
                  <a href="services-details-03.html">Services Details 03</a>
                </li>
              </ul>
            </li>
            <li class="list menu-item-parent menu-item-has-children">
              <a class="animation" href="index.html">SITES LOCATION PLANE</a>
              <ul class="main-menu__dropdown sub-menu">
                <li><a href="team.html">Our Team</a></li>
                <li>
                  <a href="price.html">Pricing Plans</a>
                </li>
                <li>
                  <a href="404.html">404 Page</a>
                </li>
                <li>
                  <a href="case-01.html">Case Studies 01</a>
                </li>
                <li>
                  <a href="case-02.html">Case Studies 02</a>
                </li>
                <li>
                  <a href="case-03.html">Case Studies 03</a>
                </li>
                <li>
                  <a href="case-details.html">Case Details</a>
                </li>
              </ul>
            </li>

          </ul>
        </nav>
      </div>
    </div>
  </div>