<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Page Title -->
  <title>

   MPCHS | Contact-Us
  </title>
  <link rel = "icon" type = "image/png" href = "../icon/multi logo.ico">
  <!-- Meta Data -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <!-- Favicon -->
  <link rel="shortcut icon" href="favicon.png" />

  <!-- ======= Icons ======= -->
  <link rel="stylesheet" href="../assets/dependencies/flaticon/flaticon.css" />
  <link rel="stylesheet" href="../assets/css/all.min.css" />

  <!-- ======= Carousel  ======= -->
  <link rel="stylesheet" href="../assets/dependencies/slick/slick.min.css" />

  <!-- ======= Animation  ======= -->
  <link rel="stylesheet" href="../assets/dependencies/animation/animate.min.css" />
  <link rel="stylesheet" href="../assets/dependencies/animation/custom-animation.css" />
  <link rel="stylesheet" href="../assets/dependencies/fancybox/jquery.fancybox.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/fontawesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/brands.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/regular.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/brands.min.css">
  <!-- ======= Main Stylesheet ======= -->
  <link rel="stylesheet" href="../assets/css/style.css" />

  <!-- ======= Custom Stylesheet ======= -->
  
  <link rel="stylesheet" href="/css/mapp.css" />
  <link rel="stylesheet" href="../assets/css/custom.css" />
  <link rel="stylesheet" href="../assets/css/style1.css">
  <link rel="stylesheet" href="../assets/css/style.scss">
  <link rel="stylesheet" href="../assets/css/styl2.scss">
  <link rel="stylesheet" href="../assets/css/navbardropdown.css">
  <style>
     img.uan {
    border-radius: 50%;
    width: 120px;
    height: 120px;
}
    html {
    
    overflow-y: scroll !important;
}
.hero-inner__bg_two:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(20, 19, 59, 0.2);
    z-index: 0;
}
@media (max-width: 575px){
.hero-inner__bg {
    background-position: center;
}
}

.contact-item {
    text-align: center;
    border-radius: 5px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 6px 1px #ddd;
    box-shadow: 0 0 6px 1px #ddd;
    padding: 57px 0;
}

   .reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}


 

  </style>
  <style>

  footer{
 position: relative;
 bottom: 0;
}
.footer-distributed{
 background-color: #292c2f;
 box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
 box-sizing: border-box;
 width: 100%;
 text-align: left;
 font: bold 16px sans-serif;
 
 padding: 25px 50px;
 /* margin-top: 80px; */
}
@font-face {
  font-family: myfooterfont;
  src: url('../fonts/static/AlfaSlabOne-Regular.ttf');
}
@font-face {
  font-family: visionfont;
  src: url('../fonts/static/Roboto-Thin.ttf');
}

.fontfooter{
  font-family: visionfont;
  font-size: 15px !important;
  
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
 display: inline-block;
 vertical-align: top;
}
 
.footer-distributed .footer-left{
 width: 30%;
}
 
.footer-distributed h3{
 color:  #ffffff;
 font: normal 36px 'Cookie', cursive;
 margin: 0;
}
 
.footer-distributed h3 span{
 color:  #5383d3;
}
 
 
.footer-distributed .footer-links{
 color:  #ffffff;
 margin: 20px 0 12px;
 padding: 0;
}
 
.footer-distributed .footer-links a{
 display:inline-block;
 line-height: 1.8;
 text-decoration: none;
 color:  inherit;
}
 
.footer-distributed .footer-company-name{
 color:  #8f9296;
 font-size: 14px;
 font-weight: normal;
 margin: 0;
}
 
 
.footer-distributed .footer-center{
 width: 30%;
}
 
.footer-distributed .footer-center i{
 background-color:  #33383b;
 color: #ffffff;
 font-size: 25px;
 width: 38px;
 height: 38px;
 border-radius: 50%;
 text-align: center;
 line-height: 42px;
 margin: 10px 15px;
 vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
 font-size: 17px;
 line-height: 38px;
}
 
.footer-distributed .footer-center p{
 display: inline-block;
 color: #ffffff;
 vertical-align: middle;
 margin:0;
}
 
.footer-distributed .footer-center p span{
 display:block;
 font-weight: normal;
 font-size:14px;
 line-height:2;
}
 
.footer-distributed .footer-center p a{
 color:  #5383d3;
 text-decoration: none;;
}
 
.footer-distributed .footer-right{
 width: 30%;
}
 
.footer-distributed .footer-company-about{
 line-height: 20px;
 color:  #92999f;
 font-size: 13px;
 font-weight: normal;
 margin: 0;
}
 
.footer-distributed .footer-company-about span{
 display: block;
 color:  #ffffff;
 font-size: 14px;
 font-weight: bold;
 margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
 margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
 display: inline-block;
 width: 35px;
 height: 35px;
 cursor: pointer;
 background-color:  #33383b;
 border-radius: 2px;
 
 font-size: 20px;
 color: #ffffff;
 text-align: center;
 line-height: 35px;
 
 margin-right: 3px;
 margin-bottom: 5px;
}
 
.footercopyright{
  text-align: center;
  margin-bottom: 0px;
  color: white;
}
 
@media (max-width: 880px) {
 
 .footer-distributed{
 font: bold 14px sans-serif;
 
 }
 
 .footer-distributed .footer-left,
 .footer-distributed .footer-center,
 .footer-distributed .footer-right{
 display: block;
 width: 100%;
 margin-bottom: 40px;
 text-align: center;
 }
 
 .footer-distributed .footer-center i{
 margin-left: 0;
 }
 .main {
 line-height: normal;
 font-size: auto;
 }
 
}

@media (max-width: 600px) {
 
 .mapp
 {
 width: 100%;
 /* height: 300px; */
 
 }
 }

 


  </style>
  <script>
   
    document.onreadystatechange = function() {
       if (document.readyState !== "complete") {
           document.querySelector("body").style.visibility = "hidden";
           document.querySelector("#loader").style.visibility = "visible";
       } else {
           document.querySelector("#loader").style.display = "none";
           document.querySelector("body").style.visibility = "visible";
       }
   };
   
   
   </script>
 </head>

  <body>
    <div id="loader" class="se-pre-con"></div>

    <div id="wrapper" class="wrapper">
      <div id="main__content">
        <!-- ======= Header Start ======= -->
        <%- include('./about-us/partial/navbar.ejs') %>

        <!-- Mobile Menu Start -->
        <%- include('./about-us/partial/mobile_menu.ejs') %>
        <!-- Mobile Menu Start End -->
        <!-- ======= Header End ======= -->

        <!-- ======= Main Wrapper Start ======= -->
        <main class="main-wrapper">
          <!-- ======= Hero inner Start ======= -->

        
          <section class="hero-inner">
            <div
              class="hero-inner__bg hero-inner__bg_two"
              data-bg-image="../assets/images/contact/bg.jpg"
            >
              <div class="container">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="page-breadcrumb">
                      <!-- <h1 class="heading">Head Office</h1> -->
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section class="contact pt-120 pb-100">
            <div class="container">
              <div class="row">
                <div class="col-lg-8 mx-auto">
                  <div class="section-heading text-center mb-50">
                   
                    <h1 style="padding-bottom: 30px;color:black; text-align:center; padding-top: 30px;font-weight: 600;" class="heading heading--big">Contact Us</h1>

                    <p style="text-indent: 50px; text-align: justify;letter-spacing: 3px; padding-bottom: 20px;"></p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-6 mb-30">
                  <div class="contact-item">
                    <img
                      class="icon"
                      src="assets/images/icon/contact-location.png"
                      alt=""
                    />
                    <h3 class="title title--heading reveal">Office Location</h3>
                    
                    <p class="address reveal">12-B Multi Mansion G-8 Markaz Islamabad (Pakistan).</p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-30">
                  <div class="contact-item">
                    <img
                      class="icon"
                      src="assets/images/icon/phone-call.png"
                      alt=""
                    />
                    <h3 class="title title--heading reveal">Skype ID</h3>
                    <p class="address reveal" ><br>
                      <a class="link" href="javascript:return false;"
                        >mpchsofficial</a
                      >
                    </p>
                   
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-30">
                  <div class="contact-item">
                    <img
                      class="icon"
                      src="assets/images/icon/contact-email.png"
                      alt=""
                    />
                    <h3 class="title title--heading reveal">Email Us</h3>
                    <p class="address reveal"><br>
                      <a class="link" href="javascript:return false;"
                        >info@mpchs.com</a
                      >
                    </p>
                   
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-6 mb-30">
                  <div class="contact-item">
                   
                    <h3 class="title title--heading reveal">Working Time</h3>
                    
                    <p class="address reveal">Monday - Friday (09:00am to 05:00pm) </p>
                    <p class="address reveal">Friday Break (12:30pm to 2:00pm) </p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-30">
                  <div class="contact-item">
                    <img
                      class="icon"
                      src="assets/images/icon/phone-call.png"
                      alt=""
                    />
                    <h3 class="title title--heading reveal">N.T.N</h3>
                    <p class="address reveal"><br>
                      <a class="link" href="javascript:return false;"
                        >2140070-9</a
                      >
                    </p>
                   
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-30">
                  <div class="contact-item">
                    <img
                      class="icon"
                      src="assets/images/icon/contact-email.png"
                      alt=""
                    />
                    <h3 class="title title--heading reveal">Social Media Pages</h3>
                    <p class="address reveal"><br>
                      <a class="link" href="https://www.facebook.com/MPCHSOFFICIAL/"
                        >www.facebook.com/mpchsofficial</a
                      >
                    </p>
                  
                   
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- ======= Hero inner End ======= -->

          <!-- ======= Services Details Start ======= -->
          <section class="price price--padding gray-bg">
            <div class="container">
              <div class="row">
                <div class="col-lg-6 offset-lg-3">
                  <div class="section-heading text-center mb-65">
                    
                    <h2 class="section-heading__title_big">
                        For more Information
                    </h2>
                  </div>
                </div>
              </div>
              <div class="row g-0">
                <div class="col-lg-3 price-item__wrapper mb-30">
                  <div class="price-item" style="padding: 6px 15px">
                    <header class="price-item__header">
                      <div class="price-item__header_icon">
                     
                            <img class="uan"
                              src="/assets/images/contact/uan.png"
                              alt="UAN"
                            />
                         
                      </div>
                      <h3 class="price-item__title reveal">U A N</h3>
                    </header>
                    <div class="price-item__content"  style="margin-bottom: -10px;">
                      <ul class="reveal">
                        <li
                          class="price-item__content_item price-item__content_available "
                        >
                        <i class="fas fa-phone-flip"></i>
                          <span>+92-111-631-632, </span><br>
                          <span style="padding-left: 25px;"> 051-2254115</span>
                        </li>
                       
                        <li
                          class="price-item__content_item price-item__content_available--not"
                        >
                          <i class="fas fa-phone-flip"></i>
                          <span> 051-2253470,</span><br> 
                          <span style="padding-left: 25px;"> 051-2261204</span>
                        </li>
                        <li
                          class="price-item__content_item price-item__content_available"
                        >
                        <i class="fas fa-phone-flip"></i>
                          <span> 051-2255875,</span> <br>
                           <span style="padding-left: 25px;"> 051-225853</span>
                        </li>
                      <li
                      class="price-item__content_item price-item__content_available"
                    >
                      <i class="fas fa-phone-flip"></i>
                      <span> 051-2255501,</span> <br>
                      <span style="padding-left: 25px;">051-2255113</span>
                    </li>
                <li
                class="price-item__content_item price-item__content_available"
              >
                <i class="fas fa-phone-flip"></i>
                <span> 051-2850640,</span><br>
                <span style="padding-left: 25px;">051- 2254448</span>
              </li>
                      </ul>
                    </div>
                   
                  </div>
                </div>
                <div class="col-lg-3 price-item__wrapper mb-30">
                  <div class="price-item" style="padding: 26px 15px;">
                    <header class="price-item__header">
                      <div class="price-item__header_icon">
                        <div class="price-item__icon">
                         
                            <img class="uan"
                              src="/assets/images/contact/contac.jpg"
                              alt="Price"
                            />
                         
                        </div>
                      </div>
                      <h3 class="price-item__title reveal">Contact Us</h3>
                    </header>
                    <div class="price-item__content">
                      <ul class="reveal">
                        <li
                          class="price-item__content_item price-item__content_available"
                          style="margin-bottom: 1px;"
                        >
                          <i class="fas fa-user"></i>
                          <span> <b> Amir Ayaz Ali</b></span>
                        </li>
                        <li
                          class="price-item__content_item price-item__content_available--not"
                         
                        >
                        <i class="fas fa-phone-flip"></i>
                          <span> +92-300-5276817</span>
                        </li><br>
                        <li
                          class="price-item__content_item price-item__content_available--not"
                          style="margin-bottom: 1px;"
                        >
                        <i class="fas fa-user"></i>
                          <span><b> Raja Ali Shan </b></span>
                        </li>
                        <li
                          class="price-item__content_item price-item__content_available--not"
                        >
                        <i class="fas fa-phone-flip"></i>
                          <span> +92-332-5514842</span>
                        </li><br>
                        <li
                        class="price-item__content_item price-item__content_available--not"
                        style="margin-bottom: 1px;"
                      >
                        <i class="fas fa-print"></i>
                        <span> <b> Fax </b></span>
                      </li>
                      <li
                          class="price-item__content_item price-item__content_available--not"
                        >
                        <i class="fas fa-phone-flip"></i>
                          <span>+92-51-2850641</span>
                        </li>
                      </ul>
                    </div>
                  
                  </div>
                </div>
                <div class="col-lg-3 price-item__wrapper mb-30">
                  <div class="price-item" style="padding: 3px 15px">
                    <header class="price-item__header">
                      <div class="price-item__header_icon">
                        <div class="price-item__icon">
                            <img class="uan"
                            src="/assets/images/contact/sitee.jpg"
                            alt="Price"
                          />
                        </div>
                      </div>
                      <h3 class="price-item__title reveal">Site Incharge E-11/1&3 & F-17 </h3>
                    </header>
                    <div class="price-item__content">
                      <ul class="reveal">
                        <li
                          class="price-item__content_item price-item__content_available"
                        >
                        <i class="fas fa-user"></i>
                        <span style="padding-left:15px;"><b>Saad Sajid</b></span><br>
                          <span style="padding-left: 30px;" >Site Incharge E-11/1&3</span>
                        </li>
                        <li
                          class="price-item__content_item price-item__content_available--not"
                        >
                        <i class="fas fa-phone-flip"></i>
                        <span >+92 320 8521970</span><br> <span style="padding-left: 30px;"> 051-2228522</span>
                        </li>
                        <li
                          class="price-item__content_item price-item__content_available--not"
                        >
                        <i class="fas fa-user"></i>
                        <span style="padding-left:15px;"><b>Nouman Sajid </b> </span> <br>
                          <span style="padding-left: 30px;">Site Incharge F-17</span>
                        </li>
                        <li
                          class="price-item__content_item price-item__content_available--not"
                        >
                        <i class="fas fa-phone-flip"></i>
                          <span style="padding-left: 10px;">+92 323 5100323</span><br> <span style="padding-left: 30px;">051-2161110</span>
                        </li>
                       
                      </ul>
                    </div>
                    
                  </div>
                </div>
                <div class="col-lg-3 price-item__wrapper">
                  <div class="price-item" style="padding: 3px 15px">
                    <header class="price-item__header">
                      <div class="price-item__header_icon">
                        <div class="price-item__icon">
                            <img class="uan"
                            src="/assets/images/contact/site2.jpg"
                            alt="Price"
                          />
                        </div>
                      </div>
                      <h3 class="price-item__title reveal">Site Incharge B-17 & ROS</h3>
                      
                    </header>
                    <div class="price-item__content">
                      <ul class="reveal">
                        <li
                          class="price-item__content_item price-item__content_available"
                        >
                          <i class="fas fa-user"></i>
                          <span style="padding-left: 15px;"> <b> Nadeem Akhtar </b></span><br>
                          <span style="padding-left: 30px;">Site Incharge B-17</span>
                        </li>
                        <li
                          class="price-item__content_item price-item__content_available--not"
                        >
                        <i class="fas fa-phone-flip"></i>
                         
                            <span style="padding-left: 10px;">+92 324 5048490</span> <br><span style="padding-left: 30px;">051-5203040)</span>
                        </li>
                        <li
                          class="price-item__content_item price-item__content_available--not"
                        >
                          <i class="fas fa-user"></i>
                          <span style="padding-left: 15px;"> <b> Arslan Akbar </b></span><br>
                          <span style="padding-left: 30px;">Site Incharge ROS</span>
                        </li>
                        <li
                          class="price-item__content_item price-item__content_available--not"
                        >
                        <i class="fas fa-phone-flip"></i>
                          <span style="padding-left: 10px;">+92 332 5755 807</span><br>
                           <span style="padding-left: 30px;"> 051-4868000</span>
                        </li>
                        
                      </ul>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- ======= Services Details End ======= -->

       
        </main>
        <!-- ======= Main Wrapper End ======= -->

        <!-- Footer -->
        <footer class="footer-distributed">
 
          <div class="footer-left">
          
          
          <h3 style="font-family: myfooterfont;">MPCHS<span></span></h3>
          
          <p class="footer-links">
            <p class="footer-company-about fontfooter">
              <span>About the MPCHS</span>
              MPCHS is an institution for promoting investment in real estate and developing housing schemes of high standard.
              It is a joint platform of Buyers and Sellers to eventually benefit with the dividends of their transparent deals.
              </p>
            
              <div class="footer-icons">
          
                <a href="https://www.facebook.com/MPCHSOFFICIAL/"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://twitter.com/MultiNews_Media/"><i class="fa-brands fa-twitter-square"></i></a>
               
                
                </div>
          </p>
          
        
          </div>
          
          <div class="footer-center">
          
          <div>
            <i class="fa-solid fa-location-dot"></i>
          <a href="https://www.google.com/maps/dir/33.6294971,72.9342447/Multi+Professionals+Co-operative+Housing+Society+(MPCHS)+Multi+Mansion,,+G-8+Markaz,+Islamabad+DIRECTION/@33.6651112,72.9283412,12z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x38dfbfc84d82d80f:0x485d89a5533e7d68!2m2!1d73.0495783!2d33.698068">
          <p><span>MPCHS Multi Mansion,</span>  G-8 Markaz, Islamabad (Pakistan)</p>
        </a>
          </div>
          
          
          <div>
          <i class="fa fa-phone"></i>
          <p>0092-111-631-632 |</p>
          <p> Fax 051-2850641</p>
          </div>
          
          <div>
          <i class="fa fa-envelope"></i>
          <p><a >info@mpchs.com</a></p>
          </div>
          
          </div>
          
          <div class="footer-right">
            <!-- <iframe class="mapp" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13277.681770676296!2d73.0495783!3d33.698068!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x485d89a5533e7d68!2sMulti%20Mansion!5e0!3m2!1sen!2s!4v1644392173977!5m2!1sen!2s" width="500" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe> -->
            <iframe class="mapp" style="height: 365px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d32468.08120485688!2d73.049578!3d33.698068!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x485d89a5533e7d68!2sMulti%20Mansion!5e1!3m2!1sen!2sus!4v1646376459870!5m2!1sen!2sus" width="530" height="560" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          
          
          
         
          
          </div>
          
          </footer>
          <div style="background-color: #5b6674;">
            <p class="footercopyright">MPCHS &copy; 2022</p>
          </div>
        <div class="progress-wrap active-progress">
          <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 227.034;"></path>
          </svg>
        </div>

        <script>
          function reveal() {
  var reveals = document.querySelectorAll(".reveal");

  for (var i = 0; i < reveals.length; i++) {
    var windowHeight = window.innerHeight;
    var elementTop = reveals[i].getBoundingClientRect().top;
    var elementVisible = 150;

    if (elementTop < windowHeight - elementVisible) {
      reveals[i].classList.add("active");
    } else {
      reveals[i].classList.remove("active");
    }
  }
}

window.addEventListener("scroll", reveal);
          
          </script>

    <!-- ======= jQuery Library ======= -->
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/dependencies/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="../assets/dependencies/slick/slick.min.js"></script>
    <script src="../assets/dependencies/parallax/parallaxie.js"></script>
    <script src="../assets/dependencies/greensock/TweenMax.min.js"></script>
    <script src="../assets/dependencies/tilt/vanilla-tilt.min.js"></script>
    <script src="../assets/dependencies/counter-up/jquery.counterup.min.js"></script>
    <script src="../assets/dependencies/waypoints/jquery.waypoints.min.js"></script>
    <script src="../assets/dependencies/animation/wow.min.js"></script>
    <script src="../assets/dependencies/fancybox/jquery.fancybox.min.js"></script>
    <script src="../assets/js/modernizr-3.5.0.min.js"></script>
    <script src="../assets/dependencies/hoverdir/jquery.hoverdir.js"></script>
    <script src="../assets/dependencies/niceselect/jquery.nice-select.min.js"></script>
    <script src="../assets/dependencies/anime/anime.min.js"></script>
    <script src="../assets/dependencies/niceselect/jquery.nice-select.min.js"></script>
    <script src="../assets/dependencies/isotope/isotope.pkgd.min.js"></script>
    <script src="../assets/dependencies/isotope/imagesloaded.pkgd.min.js"></script>

    <!-- ======= Main JS ======= -->
    <script src="../assets/js/main.js"></script>

    <!-- ======= Custom JS ======= -->
    <script src="../assets/js/custom.js"></script>
    <script src="../assets/js/navbardropdown.js"></script>
  </body>
</html>
