<!DOCTYPE html>
<html lang="en">
<head>
  <title>Dashboard | Add Notification </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>add Notification</h2>
  <form action="/add-notification" method="POST">
    <div class="form-group">
      <label for="title">title:</label>
      <input type="text" class="form-control" id="titlee" placeholder="Enter title" name="title" required>
    </div>
    <div class="form-group">
      <label for="body">Body:</label>
      <textarea name="body" id="bodyy" cols="30" rows="10"></textarea>
    </div>
    <label for="title">Enter Link:</label>
    <input type="text" class="form-control" placeholder="Optional" name="link">

    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

</body>
</html>
