<!DOCTYPE html>
<html lang="en">
<head>
  <title>

    MPCHS | Projects
  </title>
  <link rel = "icon" type = "image/png" href = "../icon/multi logo.ico">
  <!-- Meta Data -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <!-- Favicon -->
  <link rel="shortcut icon" href="favicon.png" />

  <!-- ======= Icons ======= -->
  <link rel="stylesheet" href="../assets/dependencies/flaticon/flaticon.css" />
  <link rel="stylesheet" href="../assets/css/all.min.css" />

  <!-- ======= Carousel  ======= -->
  <link rel="stylesheet" href="../assets/dependencies/slick/slick.min.css" />

  <!-- ======= Animation  ======= -->
  <link rel="stylesheet" href="../assets/dependencies/animation/animate.min.css" />
  <link rel="stylesheet" href="../assets/dependencies/animation/custom-animation.css" />
  <link rel="stylesheet" href="../assets/dependencies/fancybox/jquery.fancybox.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <!-- ======= Main Stylesheet ======= -->
  <link rel="stylesheet" href="../assets/css/style.css" />

  <!-- ======= Custom Stylesheet ======= -->
  <link rel="stylesheet" href="/css/mapp.css" />

  <link rel="stylesheet" href="../assets/css/custom.css" />
  <link rel="stylesheet" href="../assets/css/style1.css">
  <link rel="stylesheet" href="../assets/css/style.scss">
  <link rel="stylesheet" href="../assets/css/styl2.scss">
  <link rel="stylesheet" href="../assets/css/navbardropdown.css">

 
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400" rel="stylesheet">
  <link rel="stylesheet" href="/css/projects.css">
  <style>
     .reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}
html {
    
  
    scroll-behavior: smooth;
}
.sticky-on.sticky .main-menu--agency nav > ul > li {
    margin-right: 10px;
}
/* #myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
} */
  </style>
</head>

<body>
  
    <div id="main__content">
  
  <%- include('./partials/navbar.ejs') %>



  <%- include('./about-us/partial/mobile_menu.ejs') %>
  
  <!-- slide -->
   <div id="slided" class="wrapper">
    <div class="slideshows">
      <div class="slideshow slideshow--hero">
        <div class="slides">
          <div class="slide slide1"></div>
          <div class="slide slide2"></div>
          <div class="slide slide3"></div>
        </div>
      </div>
      <div class="slideshow slideshow--contrast slideshow--contrast--before">
        <div class="slides">
          <div class="slide slide1"></div>
          <div class="slide slide2"></div>
          <div class="slide slide3"></div>
        </div>
      </div>
      <div class="slideshow slideshow--contrast slideshow--contrast--after">
        <div class="slides">
          <div class="slide slide1"></div>
          <div class="slide slide2"></div>
          <div class="slide slide3"></div>
        </div>
      </div>
    </div>
    
    <!-- <video autoplay muted loop id="myVideo">
      <source src="/assets/images/gallery/frontend/headeoffice.mp4" type="video/mp4">
      Your browser does not support HTML5 video.
    </video> -->
  </div> 
    
      <!-- slide end -->
<div  class="container-fluid">
 <div id="hoverr1" class="card">
    <h3 class="title1 titlee"> Islamabad   Gardens </h3>
    <div class="bgg">
    <img  class="whenhover1" style="border-radius: 5px;" src="/assets/images/ourproject/islamabadgarden.png" alt="">
  </div>
   
   
  </div>
 
  <div id="hoverr2" class="card">
    <div class=" headdd"> 
    <h3 class="title1"> <span class="centrr"></span> Multi </span> <span> Garden </span></h3>
  </div>
    <img  class="whenhover1" style="border-radius: 5px;background-color: rgba(0,0,0,0.5);" src="/assets/images/ourproject/mutligardenb17.png" alt="">
 
    
  
  </div>
  <div id="hoverr3" class="card">
    
    <h3 class="title1"> <span class="centrr"></span>Tale </span> <span> Gardens </span></h3>
    <img  class="whenhover1" style="border-radius: 5px;" src="/assets/images/ourproject/talegarden1.png" alt="">
   
  </div>
  <div id="hoverr4" class="card">
    <h3 class="title1"> <span class="centrr"></span> Multi </span> <span> Residencia </span></h3>
    <img  class="whenhover1" style="border-radius: 5px;" src="/assets/images/ourproject/multiresidencia.png" alt="">
   
  </div>
  
</div>
<div style="background-color: transparent;">
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>


<section id="detailproject1" class="detaill1">
  <div class="container container22 container23 titleclass">
    <!-- <h2>Multi-Garden</h2> -->
      <h1>Welcome To</h1>
      <h1 class="mobilee11" style="width: 760px;">Islamabad Garden E11</h1>
    </div>
     <!-- section 1-1 Start -->
    <section class="about aboutsection about-agency about--inner">
      <div class="container">
        <div class="row equall reveal">
          <div class="col-lg-5">
            <div
              class="about-image about-image--agency position-relative"
            >
              
              <img 
                src="assets/images/ourproject/e11.jpg"
                alt="About"
                class="about-image__agency_big wow fadeInDown "
                data-wow-delay=".2s"
              />
              
            </div>
          </div>
          <div class="col-lg-6 offset-lg-1 reveal">
            <div class="about-agency__right">
              <div class="section-software p-0 ">
                <span
                  class="section-software__title_small text-uppercase primary-text-color"
                >
                  Project Name
                </span>
                <h2 class="section-software__title_big">
                  Islamabad Gardens  <br />
                  Overview
                </h2>
              </div>
              <div class="about-software__content about-agency__content">
                <span class="title title--small">
                  Panoramic view coupled with aesthetically designed land scape is a breath taking moment while visiting 
                  the sector. The foot of Margala Hills reflecting the beauty of nature on an elevated view of 
                  Islamabad is another edge. MPCHS has redefined this beauty of nature with professional
                   expertise, visionary layout planning compatible to international standards. 
                   The inhabitants are enjoying most modern amenities with comfortable lifestyle.
                </span>
              </div>
            
            </div>
          </div>
        </div>
      </div>
      </section>
     <!-- section 1-1 End -->

      

<!-- section 1-2 Start -->
<section class="about pt-125  pt-120">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3 reveal">
        <div class="section-heading text-center mb-50">
          <span class="section-heading__title_small">
            Islamabad Gardens
          </span>
          <h2 class="section-heading__title_big">
            Facilities & Services
          </h2>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-6 mb-30 reveal">
        <div
          class="about-image about-image--feature position-relative"
        >
          <img
            src="/assets/images/ourproject/P4.jpg"
            alt="About"
            class="about-image__agency_big wow fadeInDown"
            data-wow-delay=".2s"
            width="690"
            height="617"
          />
          
        </div>
      </div>
      <div class="col-lg-6 mb-30">
        <!-- <div class="about-skill about-skill--feature">
          <div class="overflow-hidden item">
            <div class="progress">
              <div class="lead">UI/UX</div>
              <div
                class="progress-bar wow slideInLeft"
                data-width="87%"
                data-wow-delay=".2s"
                data-wow-duration="1.2s"
                role="progressbar"
                aria-valuenow="87"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <span>87%</span>
              </div>
            </div>
          </div>
          <div class="overflow-hidden item">
            <div class="progress">
              <div class="lead">Branding</div>
              <div
                class="progress-bar wow slideInLeft"
                data-width="76%"
                data-wow-delay=".4s"
                data-wow-duration="1.5s"
                role="progressbar"
                aria-valuenow="76"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <span>76%</span>
              </div>
            </div>
          </div>
          <div class="overflow-hidden item">
            <div class="progress">
              <div class="lead">Gas</div>
              <div
                class="progress-bar wow slideInLeft"
                data-width="76%"
                data-wow-delay=".4s"
                data-wow-duration="1.5s"
                role="progressbar"
                aria-valuenow="76"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <span>76%</span>
              </div>
            </div>
          </div>
          <div class="overflow-hidden item">
            <div class="progress">
              <div class="lead">Wide Roads</div>
              <div
                class="progress-bar wow slideInLeft"
                data-width="76%"
                data-wow-delay=".4s"
                data-wow-duration="1.5s"
                role="progressbar"
                aria-valuenow="76"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <span>76%</span>
              </div>
            </div>
          </div>
          <div class="overflow-hidden item">
            <div class="progress">
              <div class="lead">Boundary wall equipped with CCTV Camera</div>
              <div
                class="progress-bar wow slideInLeft"
                data-width="76%"
                data-wow-delay=".4s"
                data-wow-duration="1.5s"
                role="progressbar"
                aria-valuenow="76"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <span>76%</span>
              </div>
            </div>
          </div>
          <div class="overflow-hidden item">
            <div class="progress">
              <div class="lead">Branding</div>
              <div
                class="progress-bar wow slideInLeft"
                data-width="76%"
                data-wow-delay=".4s"
                data-wow-duration="1.5s"
                role="progressbar"
                aria-valuenow="76"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <span>76%</span>
              </div>
            </div>
          </div>
          <div class="overflow-hidden item">
            <div class="progress">
              <div class="lead">Branding</div>
              <div
                class="progress-bar wow slideInLeft"
                data-width="76%"
                data-wow-delay=".4s"
                data-wow-duration="1.5s"
                role="progressbar"
                aria-valuenow="76"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <span>76%</span>
              </div>
            </div>
          </div>
          <div class="overflow-hidden item">
            <div class="progress">
              <div class="lead">Branding</div>
              <div
                class="progress-bar wow slideInLeft"
                data-width="76%"
                data-wow-delay=".4s"
                data-wow-duration="1.5s"
                role="progressbar"
                aria-valuenow="76"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <span>76%</span>
              </div>
            </div>
          </div>
          <div class="overflow-hidden item">
            <div class="progress">
              <div class="lead">Branding</div>
              <div
                class="progress-bar wow slideInLeft"
                data-width="76%"
                data-wow-delay=".4s"
                data-wow-duration="1.5s"
                role="progressbar"
                aria-valuenow="76"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <span>76%</span>
              </div>
            </div>
          </div>
          <div class="overflow-hidden item">
            <div class="progress">
              <div class="lead">Branding</div>
              <div
                class="progress-bar wow slideInLeft"
                data-width="76%"
                data-wow-delay=".4s"
                data-wow-duration="1.5s"
                role="progressbar"
                aria-valuenow="76"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <span>76%</span>
              </div>
            </div>
          </div>
          <div class="overflow-hidden item">
            <div class="progress">
              <div class="lead">Marketing</div>
              <div
                class="progress-bar wow slideInLeft animated"
                data-width="93%"
                data-wow-delay=".6s"
                data-wow-duration="1.9s"
                role="progressbar"
                aria-valuenow="93"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <span>93%</span>
              </div>
            </div>
          </div>
          <div class="overflow-hidden item">
            <div class="progress">
              <div class="lead">Photography</div>
              <div
                class="progress-bar wow slideInLeft animated"
                data-width="79%"
                data-wow-delay=".8s"
                data-wow-duration="2s"
                role="progressbar"
                aria-valuenow="79"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <span>79%</span>
              </div>
            </div>
          </div>
        </div> -->
     <div class="about-agency__right clss">
        <div class="list">
          <ul>
           
            <li><i class="fas fa-check"></i> Mosques</li>
            <li><i class="fas fa-check"></i>Community Centers/Club</li>
            <li><i class="fas fa-check"></i> Play Ground/Park/Jogging Tracks</li>
            <li><i class="fas fa-check"></i>Commercial Centers</li>
            <li><i class="fas fa-check"></i>Food Street</li>
            <li><i class="fas fa-check"></i> Shopping Mall</li>
            <li><i class="fas fa-check"></i>Optic Fiber Network</li>
            <li><i class="fas fa-check"></i>Shopping centers</li>
            <li><i class="fas fa-check"></i> Schools</li>
            <li><i class="fas fa-check"></i>40ft to 170ft Carpeted Roads/Street</li>
            <li><i class="fas fa-check"></i>Sui Gas</li>
            <li><i class="fas fa-check"></i>Underground Electricity/Drainage</li>
            <li><i class="fas fa-check"></i> Facilitation Center</li>
            <li><i class="fas fa-check"></i> 600ft Wide Green Belts</li>
            <li><i class="fas fa-check"></i> Underground Parking</li>
            <li><i class="fas fa-check"></i> Boundary wall quipped with CCTV Cameras</li>
            <li><i class="fas fa-check"></i> Round the clock surveillance through mobile and positioned Security Guards</li>
            </ul>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
<!-- section 1-2 End -->


</section>

<!-- //Project Description 2 -->
<section id="detailproject2" class="detaill2">
  <div class="container container22 titleclass">
    <!-- <h2>Multi-Garden</h2> -->
      <h1 class="inline-photo show-on-scroll khaa">Welcome To</h1>
      <h1  class="inline-photo show-on-scroll">Multi-Garden B-17</h1>
    </div>
  
      <!-- section 2-1 Start -->
    <section class="about aboutsection about-agency about--inner">
      <div class="container">
        <div class="row equall">
          <div class="col-lg-5 mb-30 reveal">
            <div
              class="about-image about-image--agency position-relative"
            >
              <!-- <img
                src="assets/images/ourproject/about-thumb-agency1.jpg"
                alt="About"
                class="about-image__agency_big wow fadeInDown mb-30"
                data-wow-delay=".2s"
              /> -->
              <img 
                src="assets/images/ourproject/multigarden.jpg"
                alt="About"
                class="about-image__agency_big wow fadeInDown mb-30"
                data-wow-delay=".2s"
              />
             

            </div>
          </div>
          <div class="col-lg-6 offset-lg-1 mb-30 reveal">
            <div class="about-agency__right">
              <div class="section-software p-0 mb-20">
                <span
                  class="section-software__title_small text-uppercase primary-text-color"
                >
                  Project Name
                </span>
                <h2 class="section-software__title_big">
                  Multi Gardens  <br />
                  Overview
                </h2>
              </div>
              <div class="about-software__content about-agency__content">
                <span class="title title--small">
                  The progressive growth of membership motivated MMPCS to lunch the project of Multi Gardens Sector B-17.
                  It is area wise the largest scheme of the Society with master piece layout planning. This sector is 
                  a gateway to Islamabad from up country including Afghanistan, Central Asia, and China through
                   Margella Avenue. The sector has in built modern amenities of a comfortable lifestyle.
                </span>
              </div>
             
            </div>
          </div>
        </div>
      </div>
      </section>
 <!-- section 2-1 End -->


<!-- section 2-2 Start -->
<section class="about pt-125  pt-120">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3 reveal">
        <div class="section-heading text-center mb-50">
          <span class="section-heading__title_small">
            Multi Residentia & Orchards
          </span>
          <h2 class="section-heading__title_big">
            Facilities & Services
          </h2>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-12 mb-30 reveal">
        <div class="about-agency__right clss">
          <div class="list">
            <ul>
             
              <li><i class="fas fa-check"></i>Financial Incentives:</li>
              <li class="paragraph">
                An incentive of Rs10,00,000/- (Ten lac) to the owners of plot size of Two hundred or more sq. Yards has been announced
                 on 95% completion . Similarly on completion of single story incentive of 5,00,000/- (Five Lac) will be given
                  to the member by the Society.
              </li>
              <li class="paragraph">
                The incentive would be available to first Three hundred fifty (350) members on first-come first-serve basis. Likewise
                  Rs. 10,00,000/- each is being provided to first 6 owners of Commercial Buildings at completion of Second Floor in
                   Block-E.
              </li>
              <li><i class="fas fa-check"></i>Provision of Electricity:</li>
              <li class="paragraph">
                Electricity work has since been completed and connect is given to residents. Power for construction is also available on demand.
              </li>
              <li><i class="fas fa-check"></i>Development of Lake/Dam:</li>
              <li class="paragraph">
                Optimum utilization of water-ways and surplus water during raining season has been managed by the consultants of the Society
                 in transforming such resources into four Season Functional Lake on 94.46 kanal lands. The dam now stands completed.
                  The project has been conceived after due deliberation for multi-purpose utilization of water resources which 
                  will include controlling water flow, raising sub-soil water level, regular availability of water for the
                   residents for domestic and horticulture purposes, beautification of the area including lake-side
                    entertainment spots, walkways etc. Large water reservoir has been created during this monsoon.
              </li>
              </ul>
              </div>
            </div>
        </div>
      </div>
      
    </div>
</section>
<!-- section 2-2 End -->

</section>


<!-- Project Description 3 -->
<!-- section 3 Start -->
<section id="detailproject3" class="detaill3">
  <div class="container container22 titleclass">
    <!-- <h2>Multi-Garden</h2> -->
      <h1>Welcome To</h1>
      <h1>Tale-Garden F-17</h1>
    </div>
    <!-- section 3-1 Start -->
    <section class="about aboutsection about-agency about--inner">
      <div class="container">
        <div class="row equall">
          <div class="col-lg-5 mb-30 reveal">
            <div
              class="about-image about-image--agency position-relative"
            >
              <!-- <img
                src="assets/images/ourproject/about-thumb-agency1.jpg"
                alt="About"
                class="about-image__agency_big wow fadeInDown mb-30"
                data-wow-delay=".2s"
              /> -->
              <img style="width: 600px; height:350px;margin-top: 40px;"
                src="assets/images/ourproject/talegarden.jpg"
                alt="About"
                class="about-image__agency_big wow fadeInDown mb-30"
                data-wow-delay=".2s"
              />
            </div>
          </div>
          <div class="col-lg-6 offset-lg-1 mb-30 reveal">
            <div class="about-agency__right">
              <div class="section-software p-0 mb-20">
                <span
                  class="section-software__title_small text-uppercase primary-text-color"
                >
                  Project Name
                </span>
                <h2 class="section-software__title_big">
                  Tale-Garden F-17  <br />
                  Overview
                </h2>
              </div>
              <div class="about-software__content about-agency__content">
                <span class="title title--small">
                  Ideally located scheme surrounded by institutions of value addition and is accessible through all main arteries of 
                  communication is a significant factor of Tele Gardens scheme sector F-17 of MPCHS. Located exactly in the middle
                   of Tarnol Interchange of Motorway (M-1) and Tarnol Railway crossing on G.T Road towards Taxila Peshawar on
                    main Fateh Jhang Road has attracted the members to occupy the land on top priority. The scheme is
                     beautifully designed with all modern amenities compatible to international standards with
                      professionally excellent layout planning. This is a unique scheme in Zone-ii where 100%
                       land stands acquired and developed termed again as a living legend of MPCHS. A large
                        numbers have constructed their residential and commercial buildings and are
                         enjoying comfortable / secured life in a gated community. Round the clock
                          surveillance and monitoring through CCTV cameras is yet another edge for
                           the residents.
                </span>
              </div>
             
            </div>
          </div>
        </div>
      </div>
      </section> 
      <!-- section 3-1 end -->
  
<!-- section 3-2 Start -->
<section class="about pt-120 pt-125  ">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3 reveal">
        <div class="section-heading text-center mb-50">
          <span class="section-heading__title_small">
            Tele Gardens
          </span>
          <h2 class="section-heading__title_big">
            Facilities & Services
          </h2>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-6 mb-30 reveal">
        <div
          class="about-image about-image--feature position-relative"
        >
          <img
            src="/assets/images/ourproject/tale2.jpg"
            alt="About"
            class="about-image__agency_big wow fadeInDown"
            data-wow-delay=".2s"
            width="690"
            height="617"
          />
          <!-- <div class="video">
            <a
              class="video-link"
              href="https://youtu.be/yJg-Y5byMMw"
              data-fancybox
            >
              <i class="fas fa-play"></i>
            </a>
          </div> -->
        </div>
      </div>
      <div class="col-lg-6 mb-30">
        <!-- <div class="about-skill about-skill--feature">
          <div class="overflow-hidden item">
            <div class="progress">
              <div class="lead">UI/UX</div>
              <div
                class="progress-bar wow slideInLeft"
                data-width="87%"
                data-wow-delay=".2s"
                data-wow-duration="1.2s"
                role="progressbar"
                aria-valuenow="87"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <span>87%</span>
              </div>
            </div>
          </div>
          <div class="overflow-hidden item">
            <div class="progress">
              <div class="lead">Branding</div>
              <div
                class="progress-bar wow slideInLeft"
                data-width="76%"
                data-wow-delay=".4s"
                data-wow-duration="1.5s"
                role="progressbar"
                aria-valuenow="76"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <span>76%</span>
              </div>
            </div>
          </div>
          <div class="overflow-hidden item">
            <div class="progress">
              <div class="lead">Gas</div>
              <div
                class="progress-bar wow slideInLeft"
                data-width="76%"
                data-wow-delay=".4s"
                data-wow-duration="1.5s"
                role="progressbar"
                aria-valuenow="76"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <span>76%</span>
              </div>
            </div>
          </div>
          <div class="overflow-hidden item">
            <div class="progress">
              <div class="lead">Wide Roads</div>
              <div
                class="progress-bar wow slideInLeft"
                data-width="76%"
                data-wow-delay=".4s"
                data-wow-duration="1.5s"
                role="progressbar"
                aria-valuenow="76"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <span>76%</span>
              </div>
            </div>
          </div>
          <div class="overflow-hidden item">
            <div class="progress">
              <div class="lead">Boundary wall equipped with CCTV Camera</div>
              <div
                class="progress-bar wow slideInLeft"
                data-width="76%"
                data-wow-delay=".4s"
                data-wow-duration="1.5s"
                role="progressbar"
                aria-valuenow="76"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <span>76%</span>
              </div>
            </div>
          </div>
          <div class="overflow-hidden item">
            <div class="progress">
              <div class="lead">Branding</div>
              <div
                class="progress-bar wow slideInLeft"
                data-width="76%"
                data-wow-delay=".4s"
                data-wow-duration="1.5s"
                role="progressbar"
                aria-valuenow="76"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <span>76%</span>
              </div>
            </div>
          </div>
          <div class="overflow-hidden item">
            <div class="progress">
              <div class="lead">Branding</div>
              <div
                class="progress-bar wow slideInLeft"
                data-width="76%"
                data-wow-delay=".4s"
                data-wow-duration="1.5s"
                role="progressbar"
                aria-valuenow="76"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <span>76%</span>
              </div>
            </div>
          </div>
          <div class="overflow-hidden item">
            <div class="progress">
              <div class="lead">Branding</div>
              <div
                class="progress-bar wow slideInLeft"
                data-width="76%"
                data-wow-delay=".4s"
                data-wow-duration="1.5s"
                role="progressbar"
                aria-valuenow="76"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <span>76%</span>
              </div>
            </div>
          </div>
          <div class="overflow-hidden item">
            <div class="progress">
              <div class="lead">Branding</div>
              <div
                class="progress-bar wow slideInLeft"
                data-width="76%"
                data-wow-delay=".4s"
                data-wow-duration="1.5s"
                role="progressbar"
                aria-valuenow="76"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <span>76%</span>
              </div>
            </div>
          </div>
          <div class="overflow-hidden item">
            <div class="progress">
              <div class="lead">Branding</div>
              <div
                class="progress-bar wow slideInLeft"
                data-width="76%"
                data-wow-delay=".4s"
                data-wow-duration="1.5s"
                role="progressbar"
                aria-valuenow="76"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <span>76%</span>
              </div>
            </div>
          </div>
          <div class="overflow-hidden item">
            <div class="progress">
              <div class="lead">Marketing</div>
              <div
                class="progress-bar wow slideInLeft animated"
                data-width="93%"
                data-wow-delay=".6s"
                data-wow-duration="1.9s"
                role="progressbar"
                aria-valuenow="93"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <span>93%</span>
              </div>
            </div>
          </div>
          <div class="overflow-hidden item">
            <div class="progress">
              <div class="lead">Photography</div>
              <div
                class="progress-bar wow slideInLeft animated"
                data-width="79%"
                data-wow-delay=".8s"
                data-wow-duration="2s"
                role="progressbar"
                aria-valuenow="79"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <span>79%</span>
              </div>
            </div>
          </div>
        </div> -->
     <div class="about-agency__right clss">
        <div class="list">
          <ul>
           
            <li><i class="fas fa-check"></i>Mosques</li>
            <li><i class="fas fa-check"></i>Play Ground/Park/Jogging Tracks</li>
            <li><i class="fas fa-check"></i>Commercial Centers/Shopping Mall/Schools</li>
            <li><i class="fas fa-check"></i>Medical Centers/Hospitals</li>
            <li><i class="fas fa-check"></i>Horti, Agro and veterinary advisory services</li>
            <li><i class="fas fa-check"></i>40ft to 170ft Carpeted Roads/Streets</li>
            <li><i class="fas fa-check"></i>Sui Gas/Underground Electricity/Drainage</li>
            <li><i class="fas fa-check"></i>600ft Wide Green Belts/Underground Parking</li>
            <li><i class="fas fa-check"></i>Boundary wall equipped with CCTV Cameras</li>
            <li><i class="fas fa-check"></i>Round the clock surveillance through mobile and positioned Security Guards.</li>
            <li><i class="fas fa-check"></i>An Incentive of 500,000/- (FIve Lac) has been anounced on 95% completion
               of full house and on completion of single story incentive of Rs 300,000/- 
               will be given to the member by Society</li>
            <li><i class="fas fa-check"></i>The incentive would be available to first Two hundred fifty (250) members on first-come first-serve basis
            </li>
            
            </ul>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
<!-- section 3-2 End -->

</section>
<!-- section 3 End -->

<!-- section 4 Start -->
<section id="detailproject4" class="detaill4">
  
  <div class="container container22  titleclass">
    <!-- <h2>Multi-Garden</h2> -->
      <h1>Welcome To</h1>
      <h1 class="mobileorchard" >Multi-Residencia & Orchards</h1>
    </div>
    
    
  
   <!-- ======= About Start ======= -->
<!-- section 4-1 -->
   <section class="about aboutsection about-agency about--inner">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 mb-30 reveal">
          <div
            class="about-image about-image--agency position-relative"
          >
            <!-- <img
              src="assets/images/ourproject/about-thumb-agency1.jpg"
              alt="About"
              class="about-image__agency_big wow fadeInDown mb-30"
              data-wow-delay=".2s"
            /> -->
            <img style="margin-top: 40px;"
              src="assets/images/ourproject/orchard1.jpg"
              alt="About"
              class="about-image__agency_big wow fadeInDown mb-30"
              data-wow-delay=".2s"
            />
            
            <!-- <div class="video">
              <a
                class="video-link"
                href="https://youtu.be/yJg-Y5byMMw"
                data-fancybox
              >
                <i class="fas fa-play"></i>
              </a>
            </div> -->
          </div>
        </div>
        <div class="col-lg-6 offset-lg-1 mb-30 reveal">
          <div class="about-agency__right">
            <div class="section-software p-0 mb-20">
              <span
                class="section-software__title_small text-uppercase primary-text-color"
              >
                Project Name
              </span>
              <h2 class="section-software__title_big">
                Multi Residentia & Orchards  <br />
                Overview
              </h2>
            </div>
            <div class="about-software__content about-agency__content">
              <span class="title title--small">
              Living in nature is the desire of majority human beigns. The scheme of ROS was designed to translate
              this human desire in its true letter and spirit. 5-10 kanal plots were planned duly equipped with 
              all amenities available in residential colonies. Wide roads, parks, hospitals, universities,
              playground, hug commercial area, underground electricity, Sui gas and similar other 
              provisions were made to make it a scheme unique from rest of the farm house 
              schemes country wide. On persistent pressure from the members, few blocks
              were introduced purely for residential purposes. Hassel-free drive from
              surrounding cities is yet another beauty of location that too being
              adjacent to Motorway (M-1) and on the future China Gawadar Trade 
              corridor.
              </span>
            </div>
            <div class="list">
              <ul>
                <li><i class="fas fa-check"></i>Special features:</li>
                <li class="paragraph">
                  Affordable price in easy installments
                </li>
                <li class="paragraph">
                  Unprecedented discount on lump sum payment
                </li>
                <li class="paragraph">
                  Convenient access from capital city and other major towns including Rawalpindi.
                </li>
                <li class="paragraph">
                  Taxila, Wah Cantt. And Hasan Abdal

                </li>
                <!-- <li><i class="fas fa-check"></i>Automated Software</li>
                <li class="paragraph">
                  Grursus mal suada faci lisis Lorem ipsum dolarorit
                  ametion sectetur elit dolocons rsus mal to the
                  consectetur elit.
                </li> -->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>
<!-- section 4-1 End -->



<!-- section 4-2 Start -->
<section class="about pt-125 pt-120">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3 reveal">
        <div class="section-heading text-center mb-50">
          <span class="section-heading__title_small">
            Multi Residentia & Orchards
          </span>
          <h2 class="section-heading__title_big">
            Facilities & Services
          </h2>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-6 mb-30">
        <div
          class="about-image about-image--feature position-relative"
        >
          <img
            src="/assets/images/ourproject/orchard2.jpg"
            alt="About"
            class="about-image__agency_big wow fadeInDown"
            data-wow-delay=".2s"
            width="690"
            height="617"
          />
          <!-- <div class="video">
            <a
              class="video-link"
              href="https://youtu.be/yJg-Y5byMMw"
              data-fancybox
            >
              <i class="fas fa-play"></i>
            </a>
          </div> -->
        </div>
      </div>
      <div class="col-lg-6 mb-30 reveal">
        <!-- <div class="about-skill about-skill--feature">
          <div class="overflow-hidden item">
            <div class="progress">
              <div class="lead">UI/UX</div>
              <div
                class="progress-bar wow slideInLeft"
                data-width="87%"
                data-wow-delay=".2s"
                data-wow-duration="1.2s"
                role="progressbar"
                aria-valuenow="87"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <span>87%</span>
              </div>
            </div>
          </div>
          <div class="overflow-hidden item">
            <div class="progress">
              <div class="lead">Branding</div>
              <div
                class="progress-bar wow slideInLeft"
                data-width="76%"
                data-wow-delay=".4s"
                data-wow-duration="1.5s"
                role="progressbar"
                aria-valuenow="76"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <span>76%</span>
              </div>
            </div>
          </div>
          <div class="overflow-hidden item">
            <div class="progress">
              <div class="lead">Gas</div>
              <div
                class="progress-bar wow slideInLeft"
                data-width="76%"
                data-wow-delay=".4s"
                data-wow-duration="1.5s"
                role="progressbar"
                aria-valuenow="76"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <span>76%</span>
              </div>
            </div>
          </div>
          <div class="overflow-hidden item">
            <div class="progress">
              <div class="lead">Wide Roads</div>
              <div
                class="progress-bar wow slideInLeft"
                data-width="76%"
                data-wow-delay=".4s"
                data-wow-duration="1.5s"
                role="progressbar"
                aria-valuenow="76"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <span>76%</span>
              </div>
            </div>
          </div>
          <div class="overflow-hidden item">
            <div class="progress">
              <div class="lead">Boundary wall equipped with CCTV Camera</div>
              <div
                class="progress-bar wow slideInLeft"
                data-width="76%"
                data-wow-delay=".4s"
                data-wow-duration="1.5s"
                role="progressbar"
                aria-valuenow="76"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <span>76%</span>
              </div>
            </div>
          </div>
          <div class="overflow-hidden item">
            <div class="progress">
              <div class="lead">Branding</div>
              <div
                class="progress-bar wow slideInLeft"
                data-width="76%"
                data-wow-delay=".4s"
                data-wow-duration="1.5s"
                role="progressbar"
                aria-valuenow="76"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <span>76%</span>
              </div>
            </div>
          </div>
          <div class="overflow-hidden item">
            <div class="progress">
              <div class="lead">Branding</div>
              <div
                class="progress-bar wow slideInLeft"
                data-width="76%"
                data-wow-delay=".4s"
                data-wow-duration="1.5s"
                role="progressbar"
                aria-valuenow="76"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <span>76%</span>
              </div>
            </div>
          </div>
          <div class="overflow-hidden item">
            <div class="progress">
              <div class="lead">Branding</div>
              <div
                class="progress-bar wow slideInLeft"
                data-width="76%"
                data-wow-delay=".4s"
                data-wow-duration="1.5s"
                role="progressbar"
                aria-valuenow="76"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <span>76%</span>
              </div>
            </div>
          </div>
          <div class="overflow-hidden item">
            <div class="progress">
              <div class="lead">Branding</div>
              <div
                class="progress-bar wow slideInLeft"
                data-width="76%"
                data-wow-delay=".4s"
                data-wow-duration="1.5s"
                role="progressbar"
                aria-valuenow="76"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <span>76%</span>
              </div>
            </div>
          </div>
          <div class="overflow-hidden item">
            <div class="progress">
              <div class="lead">Branding</div>
              <div
                class="progress-bar wow slideInLeft"
                data-width="76%"
                data-wow-delay=".4s"
                data-wow-duration="1.5s"
                role="progressbar"
                aria-valuenow="76"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <span>76%</span>
              </div>
            </div>
          </div>
          <div class="overflow-hidden item">
            <div class="progress">
              <div class="lead">Marketing</div>
              <div
                class="progress-bar wow slideInLeft animated"
                data-width="93%"
                data-wow-delay=".6s"
                data-wow-duration="1.9s"
                role="progressbar"
                aria-valuenow="93"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <span>93%</span>
              </div>
            </div>
          </div>
          <div class="overflow-hidden item">
            <div class="progress">
              <div class="lead">Photography</div>
              <div
                class="progress-bar wow slideInLeft animated"
                data-width="79%"
                data-wow-delay=".8s"
                data-wow-duration="2s"
                role="progressbar"
                aria-valuenow="79"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <span>79%</span>
              </div>
            </div>
          </div>
        </div> -->
     <div class="about-agency__right clss">
        <div class="list">
          <ul>
           
            <li><i class="fas fa-check"></i>Gas</li>
            <li><i class="fas fa-check"></i>Wide Roads</li>
            <li><i class="fas fa-check"></i>Boundary wall equipped with CCTV Camera</li>
            <li><i class="fas fa-check"></i>Round the clock surveillance through mobile and positioned Security Guards</li>
            <li><i class="fas fa-check"></i>Horti, Agro and veterinary advisory services</li>
            <li><i class="fas fa-check"></i>Underground Electricity</li>
            <li><i class="fas fa-check"></i>Optic Fiber Network</li>
            <li><i class="fas fa-check"></i>Shopping centers</li>
            <li><i class="fas fa-check"></i>Playgrounds</li>
            <li><i class="fas fa-check"></i>Hospitals</li>
            <li><i class="fas fa-check"></i>Huge Commercial Area</li>
            <li><i class="fas fa-check"></i>Schools/Colleges</li>
            <li><i class="fas fa-check"></i>Other Facilities</li>
            </ul>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
<!-- section 4-2 End -->

  </section>
  <!-- section 4 End -->

  
  <!-- ======= About End ======= -->

</section>

<%- include('./about-us/partial/footer.ejs') %>
<div class="progress-wrap active-progress">
  <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
    <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 227.034;"></path>
  </svg>
</div>

  <script>
    var button1 = document.getElementById('hoverr1');
    var sliding = document.getElementById('slided');

    var project1 = document.getElementById('detailproject1');
    
var body = document.body;
var img = document.img;

button1.onclick = function() {
	body.className = 'hovered1';
  project1.classList.add('projectdescription1');
  sliding.classList.add('slideremove');
  button1.classList.add('card11');
  button3.classList.remove('card13');
  button4.classList.remove('card14');
  button2.classList.remove('card12');
 
  project2.classList.remove('projectdescription2');
  project3.classList.remove('projectdescription3');
  project4.classList.remove('projectdescription4');
  
}


button1.onmouseover = function(){
  var images = document.getElementsByTagName("img");
var i;

for(i = 0; i < images.length; i++) {
    images[i].className += " whenhover2";
}
}



button1.onmouseout = function() {
  var images = document.getElementsByTagName("img");
var i;

for(i = 0; i < images.length; i++) {
  images[i].classList.remove("whenhover2");
}
}
  </script>
   <script>
    var button2 = document.getElementById('hoverr2');
    var sliding = document.getElementById('slided');
    var project2 = document.getElementById('detailproject2');
var body = document.body;

button2.onclick = function() {
	body.className = 'hovered2';
  button2.classList.add('card12');
  sliding.classList.add('slideremove');
  button1.classList.remove('card11');
  button3.classList.remove('card13');
  button4.classList.remove('card14');
  project2.classList.add('projectdescription2');
  project1.classList.remove('projectdescription1');
  project3.classList.remove('projectdescription3');
  project4.classList.remove('projectdescription4');
}
button2.onmouseover = function(){
  var images = document.getElementsByTagName("img");
var i;

for(i = 0; i < images.length; i++) {
    images[i].className += " whenhover2";
}
}



button2.onmouseout = function() {
  var images = document.getElementsByTagName("img");
var i;

for(i = 0; i < images.length; i++) {
  images[i].classList.remove("whenhover2");
}
}

// button.onmouseout = function() {
// 	body.className = '';
// }
  </script>
   <script>
    var button3 = document.getElementById('hoverr3');
    var sliding = document.getElementById('slided');
    var project3 = document.getElementById('detailproject3');
    var body = document.body;

button3.onclick = function() {
	body.className = 'hovered3';
  button3.classList.add('card13');
  sliding.classList.add('slideremove');
  button1.classList.remove('card11');
  button2.classList.remove('card12');
  button4.classList.remove('card14');
  project3.classList.add('projectdescription3');
  project1.classList.remove('projectdescription1');
  project2.classList.remove('projectdescription2');
  project4.classList.remove('projectdescription4');
}

button3.onmouseover = function(){
  var images = document.getElementsByTagName("img");
var i;

for(i = 0; i < images.length; i++) {
    images[i].className += " whenhover2";
}
}



button3.onmouseout = function() {
  var images = document.getElementsByTagName("img");
var i;

for(i = 0; i < images.length; i++) {
  images[i].classList.remove("whenhover2");
}
}

// button.onmouseout = function() {
// 	body.className = '';
// }
  </script>
   <script>
    var button4 = document.getElementById('hoverr4');
    var sliding = document.getElementById('slided');
    var project4 = document.getElementById('detailproject4');

var body = document.body;

button4.onclick = function() {
	body.className = 'hovered4';
  button4.classList.add('card14');
  sliding.classList.add('slideremove');

  button1.classList.remove('card11');
  button2.classList.remove('card12');
  button3.classList.remove('card13');
  project4.classList.add('projectdescription4');
  project1.classList.remove('projectdescription1');
  project2.classList.remove('projectdescription2');
  project3.classList.remove('projectdescription3');
}
button4.onmouseover = function(){
  var images = document.getElementsByTagName("img");
var i;

for(i = 0; i < images.length; i++) {
    images[i].className += " whenhover2";
}
}



button4.onmouseout = function() {
  var images = document.getElementsByTagName("img");
var i;

for(i = 0; i < images.length; i++) {
  images[i].classList.remove("whenhover2");
}
}
// button.onmouseout = function() {
// 	body.className = '';
// }
  </script>
  <!-- //desciption 2 -->
  <script>

   // Detect request animation frame
var scroll = window.requestAnimationFrame ||
             // IE Fallback
             function(callback){ window.setTimeout(callback, 1000/60)};
var elementsToShow = document.querySelectorAll('.container22'); 

function loop() {

    Array.prototype.forEach.call(elementsToShow, function(element){
      if (isElementInViewport(element)) {
        element.classList.add('container2');
      } else {
        element.classList.remove('container2');
      }
    });

    scroll(loop);
}

// Call the loop for the first time
loop();

// Helper function from: http://stackoverflow.com/a/7557433/274826
function isElementInViewport(el) {
  // special bonus for those using jQuery
  if (typeof jQuery === "function" && el instanceof jQuery) {
    el = el[0];
  }
  var rect = el.getBoundingClientRect();
  return (
    (rect.top <= 0
      && rect.bottom >= 0)
    ||
    (rect.bottom >= (window.innerHeight || document.documentElement.clientHeight) &&
      rect.top <= (window.innerHeight || document.documentElement.clientHeight))
    ||
    (rect.top >= 0 &&
      rect.bottom <= (window.innerHeight || document.documentElement.clientHeight))
  );
}
  </script>
  <!-- //desciption 2 -->
    <!-- //desciption 3 -->
    <script>

      // Detect request animation frame
   var scroll = window.requestAnimationFrame ||
                // IE Fallback
                function(callback){ window.setTimeout(callback, 1000/60)};
   var elementsToShow = document.querySelectorAll('.container22'); 
   
   function loop() {
   
       Array.prototype.forEach.call(elementsToShow, function(element){
         if (isElementInViewport(element)) {
           element.classList.add('container2');
         } else {
           element.classList.remove('container2');
         }
       });
   
       scroll(loop);
   }
   
   // Call the loop for the first time
   loop();
   
   // Helper function from: http://stackoverflow.com/a/7557433/274826
   function isElementInViewport(el) {
     // special bonus for those using jQuery
     if (typeof jQuery === "function" && el instanceof jQuery) {
       el = el[0];
     }
     var rect = el.getBoundingClientRect();
     return (
       (rect.top <= 0
         && rect.bottom >= 0)
       ||
       (rect.bottom >= (window.innerHeight || document.documentElement.clientHeight) &&
         rect.top <= (window.innerHeight || document.documentElement.clientHeight))
       ||
       (rect.top >= 0 &&
         rect.bottom <= (window.innerHeight || document.documentElement.clientHeight))
     );
   }
     </script>
     <!-- //desciption 3 -->
<script>
history.scrollRestoration = "manual";

$(window).on('beforeunload', function(){
      $(window).scrollTop(0);
});
</script>
     
<script>
  function reveal() {
var reveals = document.querySelectorAll(".reveal");

for (var i = 0; i < reveals.length; i++) {
var windowHeight = window.innerHeight;
var elementTop = reveals[i].getBoundingClientRect().top;
var elementVisible = 150;

if (elementTop < windowHeight - elementVisible) {
reveals[i].classList.add("active");
} else {
reveals[i].classList.remove("active");
}
}
}

window.addEventListener("scroll", reveal);
  
  </script>
 <!-- ======= jQuery Library ======= -->
 <script src="assets/js/jquery.min.js"></script>
 <script src="assets/dependencies/bootstrap/js/bootstrap.bundle.min.js"></script>

 <script src="assets/dependencies/slick/slick.min.js"></script>
 <script src="assets/dependencies/parallax/parallaxie.js"></script>
 <script src="assets/dependencies/greensock/TweenMax.min.js"></script>
 <script src="assets/dependencies/tilt/vanilla-tilt.min.js"></script>
 <script src="assets/dependencies/counter-up/jquery.counterup.min.js"></script>
 <script src="assets/dependencies/waypoints/jquery.waypoints.min.js"></script>
 <script src="assets/dependencies/animation/wow.min.js"></script>
 <script src="assets/dependencies/fancybox/jquery.fancybox.min.js"></script>
 <script src="assets/js/modernizr-3.5.0.min.js"></script>
 <script src="assets/dependencies/hoverdir/jquery.hoverdir.js"></script>
 <script src="assets/dependencies/niceselect/jquery.nice-select.min.js"></script>
 <script src="assets/dependencies/anime/anime.min.js"></script>
 <script src="assets/dependencies/niceselect/jquery.nice-select.min.js"></script>
 <script src="assets/dependencies/isotope/isotope.pkgd.min.js"></script>
 <script src="assets/dependencies/isotope/imagesloaded.pkgd.min.js"></script>

 <!-- ======= Main JS ======= -->
 <script src="assets/js/main.js"></script>

 <!-- ======= Custom JS ======= -->
 <script src="assets/js/custom.js"></script>
 <script src="../assets/js/navbardropdown.js"></script>
</body>