<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Page Title -->
  <title>

   MPCHS | Site Location Plane
  </title>
  <link rel = "icon" type = "image/png" href = "icon/multi logo.ico">
  <!-- Meta Data -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <!-- Favicon -->
  <link rel="shortcut icon" href="favicon.png" />

  <!-- ======= Icons ======= -->
  <link rel="stylesheet" href="assets/dependencies/flaticon/flaticon.css" />
  <link rel="stylesheet" href="assets/css/all.min.css" />

  <!-- ======= Carousel  ======= -->
  <link rel="stylesheet" href="assets/dependencies/slick/slick.min.css" />

  <!-- ======= Animation  ======= -->
  <link rel="stylesheet" href="assets/dependencies/animation/animate.min.css" />
  <link rel="stylesheet" href="assets/dependencies/animation/custom-animation.css" />
  <link rel="stylesheet" href="assets/dependencies/fancybox/jquery.fancybox.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <!-- ======= Main Stylesheet ======= -->
  <link rel="stylesheet" href="assets/css/style.css" />

  <!-- ======= Custom Stylesheet ======= -->
  <link rel="stylesheet" href="/css/mapp.css" />

  <link rel="stylesheet" href="assets/css/custom.css" />
  <link rel="stylesheet" href="assets/css/style1.css">
  <link rel="stylesheet" href="assets/css/style.scss">
  <link rel="stylesheet" href="assets/css/styl2.scss">
  <link rel="stylesheet" href="assets/css/navbardropdown.css">
  <link rel="stylesheet" href="assets/css/gallery.css">
  <link rel="stylesheet" href="assets/css/site_location.css">
 
  
  <script>
   
    document.onreadystatechange = function() {
       if (document.readyState !== "complete") {
           document.querySelector("body").style.visibility = "hidden";
           document.querySelector("#loader").style.visibility = "visible";
       } else {
           document.querySelector("#loader").style.display = "none";
           document.querySelector("body").style.visibility = "visible";
       }
   };
   
   
   </script>
 </head>

  <body>
    <div id="loader" class="se-pre-con"></div>

    <div id="wrapper" class="wrapper">
      <div id="main__content">
        <!-- ======= Header Start ======= -->
        <%- include('./partials/navbar.ejs') %>

        <!-- Mobile Menu Start -->
        <%- include('./about-us/partial/mobile_menu.ejs') %>
        <!-- Mobile Menu Start End -->
        <!-- ======= Header End ======= -->

        <!-- ======= Main Wrapper Start ======= -->
        <main class="main-wrapper">
          <!-- ======= Hero inner Start ======= -->
          <section class="hero-inner">
            <div
              class="hero-inner__bg hero-inner__bg_two"
              data-bg-image="/assets/images/site/site.jpg"
            >
              <div class="container">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="page-breadcrumb">
                   
                     
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- ======= Hero inner End ======= -->

          <!-- ======= Services Details Start ======= -->
          <section class="mobileviewsection" style="background-color: #F2F3F5; padding-bottom: 100px;">
          <h1 class="heading headtitle">Site Location Plane</h1>

        <div class="container-fluid">
          <div class="row row1">
            <div class="col-md-6 col-sm-12">
              <h1 class="heading headtitle1" >Islambad Garden E-11/1</h1>
              <iframe class="mobileview reveal" style="box-shadow: 1px 5px 10px 10px #d9dadc;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3319.5381449847764!2d72.9705879!3d33.695021350000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38dfbdc74915dac5%3A0x2269e55cf25621e2!2sMPCHS%20E-11%2F1%20MPCHS%20E%2011%2F1%20E-11%2C%20Islamabad%2C%20Islamabad%20Capital%20Territory!5e0!3m2!1sen!2s!4v1657203994247!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="col-md-6 col-sm-12">
              <h1 class="heading headtitle1" >Islambad Garden E-11/3</h1>
              <iframe class="mobileview reveal" style="box-shadow: 1px 5px 10px 10px #d9dadc;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3319.19069203783!2d72.9783502!3d33.70401425!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38dfbdcefa25d779%3A0xdca151f81d44951f!2sMPCHS%20E-11%2F3%20MPCHS%20E%2011%2F3%20E-11%2C%20Islamabad%2C%20Islamabad%20Capital%20Territory!5e0!3m2!1sen!2s!4v1657204201142!5m2!1sen!2s"  width="500" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            

            </div>
            <br><br><br>
            <div class="row row1">

              <div class="col-md-6 col-sm-12">
                <h1 class="heading headtitle1">Multi Garden B-17 </h1>
                <iframe class="mobileview reveal" style="box-shadow: 1px 5px 10px 10px #d9dadc;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d829.9756260652774!2d72.8261872!3d33.6855886!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38dfa235e8dc2c6f%3A0x1068e95eb6befe8d!2sMulti%20Office!5e0!3m2!1sen!2s!4v1646052744214!5m2!1sen!2s" width="500" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
              </div>
            <div class="col-md-6 col-sm-12" >
              <h1 class="heading headtitle1">Tele-Garden F-17</h1> 
              <iframe class="mobileview reveal" style="box-shadow: 1px 5px 10px 10px #d9dadc;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3321.987065155983!2d72.87708761520405!3d33.63157738072247!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xecbec040fbbea793!2zMzPCsDM3JzUzLjciTiA3MsKwNTInNDUuNCJF!5e0!3m2!1sen!2s!4v1646055012414!5m2!1sen!2s" width="500" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
          </div>
            <br><br><br>
            <div class="row row1">
            <div class=" col-md-6 col-sm-6" >
              <h1 class="heading headtitle1">Multi Residencia & Orchards</h1>
              <p style="   margin-left: 30%; margin-top: 150px;">Unavailble </p>
              <!-- <iframe class="mobileview reveal" style="box-shadow: 1px 5px 10px 10px #d9dadc;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3318.6395609594274!2d72.69805321520627!3d33.71827448069813!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x89b243d1fffb5a68!2zMzPCsDQzJzA1LjgiTiA3MsKwNDInMDAuOSJF!5e0!3m2!1sen!2sus!4v1646055266549!5m2!1sen!2sus" width="500" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe> -->
            </div>
          </div>
          
          </div>
        </div>


      </section>



       
        </main>
        <!-- ======= Main Wrapper End ======= -->

        <!-- Footer -->
        <%- include('./about-us/partial/footer.ejs') %>
        <div class="progress-wrap active-progress">
          <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 227.034;"></path>
          </svg>
        </div>

    <!-- ======= jQuery Library ======= -->
    <script>
      function reveal() {
var reveals = document.querySelectorAll(".reveal");

for (var i = 0; i < reveals.length; i++) {
var windowHeight = window.innerHeight;
var elementTop = reveals[i].getBoundingClientRect().top;
var elementVisible = 150;

if (elementTop < windowHeight - elementVisible) {
  reveals[i].classList.add("active");
} else {
  reveals[i].classList.remove("active");
}
}
}

window.addEventListener("scroll", reveal);
      
      </script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/dependencies/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="assets/dependencies/slick/slick.min.js"></script>
    <script src="assets/dependencies/parallax/parallaxie.js"></script>
    <script src="assets/dependencies/greensock/TweenMax.min.js"></script>
    <script src="assets/dependencies/tilt/vanilla-tilt.min.js"></script>
    <script src="assets/dependencies/counter-up/jquery.counterup.min.js"></script>
    <script src="assets/dependencies/waypoints/jquery.waypoints.min.js"></script>
    <script src="assets/dependencies/animation/wow.min.js"></script>
    <script src="assets/dependencies/fancybox/jquery.fancybox.min.js"></script>
    <script src="assets/js/modernizr-3.5.0.min.js"></script>
    <script src="assets/dependencies/hoverdir/jquery.hoverdir.js"></script>
    <script src="assets/dependencies/niceselect/jquery.nice-select.min.js"></script>
    <script src="assets/dependencies/anime/anime.min.js"></script>
    <script src="assets/dependencies/niceselect/jquery.nice-select.min.js"></script>
    <script src="assets/dependencies/isotope/isotope.pkgd.min.js"></script>
    <script src="assets/dependencies/isotope/imagesloaded.pkgd.min.js"></script>

    <!-- ======= Main JS ======= -->
    <script src="assets/js/main.js"></script>

    <!-- ======= Custom JS ======= -->
    <script src="assets/js/custom.js"></script>
    <script src="assets/js/navbardropdown.js"></script>
    <script src="assets/js/gallery.js"></script>
   
  </body>
</html>
