<style>
  footer{
 position: relative;
 bottom: 0;
}
.footer-distributed{
 background-color: #292c2f;
 box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
 box-sizing: border-box;
 width: 100%;
 text-align: left;
 font: bold 16px sans-serif;
 
 padding: 25px 50px;
 /* margin-top: 80px; */
}
@font-face {
  font-family: myfooterfont;
  src: url('../fonts/static/AlfaSlabOne-Regular.ttf');
}
@font-face {
  font-family: visionfont;
  src: url('../fonts/static/Roboto-Thin.ttf');
}

.fontfooter{
  font-family: visionfont;
  font-size: 15px !important;
  
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
 display: inline-block;
 vertical-align: top;
}
 
.footer-distributed .footer-left{
 width: 30%;
}
 
.footer-distributed h3{
 color:  #ffffff;
 font: normal 36px 'Cookie', cursive;
 margin: 0;
}
 
.footer-distributed h3 span{
 color:  #5383d3;
}
 
 
.footer-distributed .footer-links{
 color:  #ffffff;
 margin: 20px 0 12px;
 padding: 0;
}
 
.footer-distributed .footer-links a{
 display:inline-block;
 line-height: 1.8;
 text-decoration: none;
 color:  inherit;
}
 
.footer-distributed .footer-company-name{
 color:  #8f9296;
 font-size: 14px;
 font-weight: normal;
 margin: 0;
}
 
 
.footer-distributed .footer-center{
 width: 30%;
}
 
.footer-distributed .footer-center i{
 background-color:  #33383b;
 color: #ffffff;
 font-size: 25px;
 width: 38px;
 height: 38px;
 border-radius: 50%;
 text-align: center;
 line-height: 42px;
 margin: 10px 15px;
 vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
 font-size: 17px;
 line-height: 38px;
}
 
.footer-distributed .footer-center p{
 display: inline-block;
 color: #ffffff;
 vertical-align: middle;
 margin:0;
}
 
.footer-distributed .footer-center p span{
 display:block;
 font-weight: normal;
 font-size:14px;
 line-height:2;
}
 
.footer-distributed .footer-center p a{
 color:  #5383d3;
 text-decoration: none;;
}
 
.footer-distributed .footer-right{
 width: 30%;
}
 
.footer-distributed .footer-company-about{
 line-height: 20px;
 color:  #92999f;
 font-size: 13px;
 font-weight: normal;
 margin: 0;
}
 
.footer-distributed .footer-company-about span{
 display: block;
 color:  #ffffff;
 font-size: 14px;
 font-weight: bold;
 margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
 margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
 display: inline-block;
 width: 35px;
 height: 35px;
 cursor: pointer;
 background-color:  #33383b;
 border-radius: 2px;
 
 font-size: 20px;
 color: #ffffff;
 text-align: center;
 line-height: 35px;
 
 margin-right: 3px;
 margin-bottom: 5px;
}
 
.footercopyright{
  text-align: center;
  margin-bottom: 0px;
  color: white;
}
 
@media (max-width: 880px) {
 
 .footer-distributed{
 font: bold 14px sans-serif;
 
 }
 
 .footer-distributed .footer-left,
 .footer-distributed .footer-center,
 .footer-distributed .footer-right{
 display: block;
 width: 100%;
 margin-bottom: 40px;
 text-align: center;
 }
 
 .footer-distributed .footer-center i{
 margin-left: 0;
 }
 .main {
 line-height: normal;
 font-size: auto;
 }
 
}

@media (max-width: 600px) {
 
 .mapp
 {
 width: 100%;
 /* height: 300px; */
 
 }
 }

 

</style>
<footer class="footer-distributed">
 
  <div class="footer-left">
  
  
  <h3 style="font-family: myfooterfont;">MPCHS<span></span></h3>
  
  <p class="footer-links">
    <p class="footer-company-about fontfooter">
      <span>About the MPCHS</span>
      MPCHS is an institution for promoting investment in real estate and developing housing schemes of high standard.
      It is a joint platform of Buyers and Sellers to eventually benefit with the dividends of their transparent deals.
      </p>
    
      <div class="footer-icons">
  
        <a href="https://www.facebook.com/MPCHSOFFICIAL/"><i class="fa fa-facebook"></i></a>
        <a href="https://twitter.com/MultiNews_Media/"><i class="fa fa-twitter"></i></a>
       
        
        </div>
  </p>
  

  </div>
  
  <div class="footer-center">
  
  <div>
  <i class="fa fa-map-marker"></i>
  <a href="https://www.google.com/maps/dir/33.6294971,72.9342447/Multi+Professionals+Co-operative+Housing+Society+(MPCHS)+Multi+Mansion,,+G-8+Markaz,+Islamabad+DIRECTION/@33.6651112,72.9283412,12z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x38dfbfc84d82d80f:0x485d89a5533e7d68!2m2!1d73.0495783!2d33.698068">
  <p><span>MPCHS Multi Mansion,</span>  G-8 Markaz, Islamabad (Pakistan)</p>
</a>
  </div>
  
  
  <div>
  <i class="fa fa-phone"></i>
  <p>0092-111-631-632 |</p>
  <p> Fax 051-2850641</p>
  </div>
  
  <div>
  <i class="fa fa-envelope"></i>
  <p><a >info@mpchs.com</a></p>
  </div>
  
  </div>
  
  <div class="footer-right">
    <!-- <iframe class="mapp" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13277.681770676296!2d73.0495783!3d33.698068!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x485d89a5533e7d68!2sMulti%20Mansion!5e0!3m2!1sen!2s!4v1644392173977!5m2!1sen!2s" width="500" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe> -->
    <iframe class="mapp" style="height: 365px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d32468.08120485688!2d73.049578!3d33.698068!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x485d89a5533e7d68!2sMulti%20Mansion!5e1!3m2!1sen!2sus!4v1646376459870!5m2!1sen!2sus" width="530" height="560" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  
  
  
 
  
  </div>
  
  </footer>
  <div style="background-color: #5b6674;">
    <p class="footercopyright">MPCHS &copy; 2022</p>
  </div>
