<div
          class="rt-header-menu mean-container position-relative"
          id="meanmenu"
        >
          <div class="mean-bar">
            <a href="/">
              <img
                class="logo-small logosmall"
                alt="MPCHS"
                src="/assets/images/bg/multi logo.png"
              />
            </a>
           
            <span class="sidebarBtn">
              <span class="fa fa-bars"></span>
            </span>
          </div>
          <div class="rt-slide-nav">
            <div class="offscreen-navigation">
              <nav class="menu-main-primary-container">
                <ul class="menu">
                  <li>
                    <a style="color: #7d7d7e;" href = "javascript:return false;">ABOUT MPCHS</a>
                    <ul class="main-menu__dropdown ">
                      <li class="list menu-item-parent menu-item-has-children">
                        <a class="animation" href = "javascript:return false;">About-Us</a>
                        <ul  class="main-menu__dropdown sub-menu">
                         
                            <li><a href="/about-us/head-office"> Head Office</a></li>
                            <li><a href="/about-us/financial-highlights"> Financial Highlights</a></li>
                            <li><a href="/about-us/ISO-certificates"> ISO Certificates</a></li>
                          </ul>
                          </li>
                          <li class="list menu-item-parent menu-item-has-children">
                            <a class="animation" href = "javascript:return false;">Media Room</a>
                            <ul  class="main-menu__dropdown sub-menu">
                              <li><a href="/about-us/brouchers">Brochures</a></li>
                              <!-- <li><a href="/about-us/NOCs">NOC's</a></li> -->
                              <li><a href="/about-us/press-release">Press Releases</a></li>
                              <li><a href="/about-us/newsletters"> NewsLetters</a></li>
                              </ul>
                              </li>
                              <li class="list menu-item-parent menu-item-has-children">
                                <a class="animation" href = "javascript:return false;">Services</a>
                                <ul  class="main-menu__dropdown sub-menu">
                                  <li><a href="/about-us/construction">Construction</a></li>
                            <!-- <li><a href="/about-us/designs"> Designs</a></li> -->
                            <li><a href="/about-us/customer-facilitation">Customer Facilitation</a></li>
                                  </ul>
                                  </li>
                                  <li class="list menu-item-parent menu-item-has-children">
                                    <a class="animation" href = "javascript:return false;">Maps</a>
                                    <ul  class="main-menu__dropdown sub-menu">
                                      <li><a href="/about-us/maps/Islamabad-Garden-E11">Islamabad Garden E11</a></li>
                                <li><a href="/about-us/maps/Multi-Garden-B-17"> Multi Garden B-17</a></li>
                                <li><a href="/about-us/maps/Tele-Garden-F-17">Tele Garden F-17</a></li>
                                <li><a href="/about-us/maps/Multi-Residencia-Orchards">Multi Residencia & Orchards</a></li>
                                      </ul>
                                      </li>
                                </ul>
                                <br>
                                <li class="list menu-item-parent">
                                  <a class="animation" href="/our-team">MANAGING COMMITTEE</a>
                                </li>
                                <li class="list menu-item-parent">
                                  <a class="animation" href="/projects">PROJECTS</a>
                                </li>
                                <li class="list menu-item-parent">
                                  <a class="animation" href="/gallery">GALLERY</a>
                                </li>
                  </li>
                  <li class="list menu-item-parent menu-item-has-children">
                    <a class="animation" href= "javascript:return false;"
                      >SITES LOCATION PLAN</a
                    >
                    <ul class="main-menu__dropdown sub-menu">
                  <li>
                        <a href="/site-location-plane">MPCHS Site Location</a>
                      </li>
                      <li>
                        <!-- <a href= "javascript:return false;">Pricing Plan</a> -->
                      </li>
                      <li>
                      
                    </ul>
                  </li>
                  <li class="list menu-item-parent">
                    <a class="animation" href="/contact-us">CONTACT US</a>
                  </li>
                  <li class="list">
                    <button style="background-color: #E5372B;border: none; border-radius: 8px; width: 100%;" onclick="window.location.href='/login'" class="btn btn-success">Login</button>
                    
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>