
<header class="header header--modern header--transparrent d-none d-lg-block header-top--border sticky-on">
  <div id="sticky-placeholder"></div>
  <div id="navbar-wrap" class="container-custom navbar-wrap">
    <div class="header-top">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-2 col-lg-2">
            <div class="logo position-relative">
              <a href="/" class="logo__link">
                <img class="logo" src="../../assets/images/bg/multi logo.png" alt="MPCHS"
                  class="logo__light" />

              </a>
            </div>
          </div>
          <div class="col-xl-10 col-lg-10">
            <div class="main-menu main-menu--agency main-menu--modern">
              <nav class="main-menu__nav navbar-right">
                <ul class="navv">
                  <li class="main-menu__nav_sub list">
                    <a id="droppdownclose" class="animation" href = "javascript:return false;">ABOUT MPCHS</a>
                    <ul class="main-menu__dropdown">
                      <li id="firstt" class="main-menu__nav_sub list">
                        <a href = "javascript:return false;" class="animation">About Us
                          <span id="caret1" class="caret"></span>
                        </a>
                        
                        <ul id="firstdd" class="">
                          <li><a href="/about-us/head-office"> Head Office</a></li>
                          <li><a href="/about-us/financial-highlights"> Financial Highlights</a></li>
                          <li><a href="/about-us/ISO-certificates"> ISO Certificates</a></li>
                        </ul>
                      </li>
                      <li id="secondd" class="main-menu__nav_sub list b">
                        <a href = "javascript:return false;" class="animation">Media Room
                          <span id="caret2"  class="caret"></span>
                        </a>
                        <ul id="firstsec" class="">
                          <li><a href="/about-us/brouchers">Brochures</a></li>
                          <!-- <li><a href="/about-us/NOCs">NOC's</a></li> -->
                          <li><a href="/about-us/press-release">Press Releases</a></li>
                          <li><a href="/about-us/newsletters"> NewsLetters</a></li>
                        </ul>
                      </li>
                      <li id="thirdd" class="main-menu__nav_sub list b">
                        <a href = "javascript:return false;" class="animation">Services
                          <span id="caret3"  class="caret"></span>
                        </a>
                        <ul id="firstthir" class="">
                          <li><a href="/about-us/construction">Construction</a></li>
                          <!-- <li><a href="/about-us/designs"> Designs</a></li> -->
                          <li><a href="/about-us/customer-facilitation">Customer Facilitation</a></li>
                        </ul>
                      </li>

                      <li id="fourthth" class="main-menu__nav_sub list b">
                        <a href = "javascript:return false;" class="animation">Maps
                          <span id="caret4"  class="caret"></span>
                        </a>
                        <ul id="firstfourth" class="">
                          <li><a href="/about-us/maps/Islamabad-Garden-E11">Islambad Garden E11</a></li>
                          <li><a href="/about-us/maps/Multi-Garden-B-17"> Multi Garden B-17</a></li>
                          <li><a href="/about-us/maps/Tele-Garden-F-17">Tele Garden F-17</a></li>
                          <li><a href="/about-us/maps/Multi-Residencia-Orchards">Multi Residencia & Orchards</a></li>
                        </ul>
                      </li>

                     
                    
                    </ul>
                    <li class="list">
                      <a class="animation" href="/our-team">MANAGING COMMITTEE</a>
                    </li>
                  </li>
                  <li class="list">
                    <a class="animation" href="/projects">PROJECTS</a>
                  </li>
                  <li class="list">
                    <a class="animation" href="/gallery">GALLERY</a>
                  </li>
                  <li class="main-menu__nav_sub list">
                    <a class="animation" href = "javascript:return false;">SITES LOCATION PLAN</a>
                    <ul class="main-menu__dropdown">
                      <li><a href="/site-location-plane">MPCHS Site Location</a></li>
                      <li>
                        <!-- <a href = "javascript:return false;">Pricing Plans</a> -->
                      </li>
                      
                    </ul>
                    <li class="list">
                      <a class="animation" href="/contact-us">CONTACT US</a>
                    </li>

                  </li>
                  <li class="list">
                    <button style="background-color: #01A85A;border: none; border-radius: 8px; width: 130px;" onclick="window.location.href='/login'" class="btn btn-success loginindex">Login</button>
                    
                  </li>
                </ul>
              </nav>
            </div>
          </div>
         
        </div>
      </div>
    </div>
  </div>
</header>