<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Page Title -->
  <title>

   MPCHS | Maps | Multi Residencia & Orchards
  </title>
  <link rel = "icon" type = "image/png" href = "../../icon/multi logo.ico">
  <!-- Meta Data -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <!-- Favicon -->
  <link rel="shortcut icon" href="favicon.png" />

  <!-- ======= Icons ======= -->
  <link rel="stylesheet" href="../../assets/dependencies/flaticon/flaticon.css" />
  <link rel="stylesheet" href="../../assets/css/all.min.css" />

  <!-- ======= Carousel  ======= -->
  <link rel="stylesheet" href="../../assets/dependencies/slick/slick.min.css" />

  <!-- ======= Animation  ======= -->
  <link rel="stylesheet" href="../../assets/dependencies/animation/animate.min.css" />
  <link rel="stylesheet" href="../../assets/dependencies/animation/custom-animation.css" />
  <link rel="stylesheet" href="../../assets/dependencies/fancybox/jquery.fancybox.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <!-- ======= Main Stylesheet ======= -->
  <link rel="stylesheet" href="../../assets/css/style.css" />

  <!-- ======= Custom Stylesheet ======= -->
  <link rel="stylesheet" href="/css/mapp.css" />

  <link rel="stylesheet" href="../../assets/css/custom.css" />
  <link rel="stylesheet" href="../../assets/css/style1.css">
  <link rel="stylesheet" href="../../assets/css/style.scss">
  <link rel="stylesheet" href="../../assets/css/styl2.scss">
  <link rel="stylesheet" href="../../assets/css/navbardropdown.css">
  <style>
    .hero-inner__bg_two:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: none;
    z-index: 0;
}


@media (max-width: 575px){
.hero-inner__bg {
    background-position: center;
}
.hero-inner__bg_two:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: none;
    z-index: 0;
}
}
.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}
  </style>
  <script>
   
    document.onreadystatechange = function() {
       if (document.readyState !== "complete") {
           document.querySelector("body").style.visibility = "hidden";
           document.querySelector("#loader").style.visibility = "visible";
       } else {
           document.querySelector("#loader").style.display = "none";
           document.querySelector("body").style.visibility = "visible";
       }
   };
   
   
   </script>
 </head>

  <body>
    <div id="loader" class="se-pre-con"></div>

    <div id="wrapper" class="wrapper">
      <div id="main__content">
        <!-- ======= Header Start ======= -->
        <%- include('../partial/navbarmap.ejs') %>
        <!-- Mobile Menu Start -->
        <%- include('../partial/mobile_menu.ejs') %>
        <!-- Mobile Menu Start End -->
        <!-- ======= Header End ======= -->

        <!-- ======= Main Wrapper Start ======= -->
        <main class="main-wrapper">
          <!-- ======= Hero inner Start ======= -->
          <section class="hero-inner">
            <div
              class="hero-inner__bg hero-inner__bg_two"
              data-bg-image="../../assets/images/aboutus/maps/multi_residencia_orchard/bg1.jpg"
            >
              <div class="container">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="page-breadcrumb">
                      <!-- <h1 class="heading">Brouchers</h1> -->
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- ======= Hero inner End ======= -->

          <!-- ======= Services Details Start ======= -->
          <section class="case pt-130 pb-100">
            <div class="container">
              <div class="row">
                <div class="col-lg-5 mx-auto">
                  <div
                    class="section-heading section-heading--startup text-center mb-45"
                  >
                    <span class="section-heading__title_small"> Maps </span>
                    <h2 class="section-heading__title_big">
                     Multi Residencia & Orchards
                    </h2>
                  </div>
                </div>
              </div>
              <!-- <div class="row">
                <div class="col-12">
                  <div class="case-menu">
                    <button class="active" data-filter="*">All</button>
                    <button data-filter=".cat1" class="">Branding Strategy</button>
                    <button data-filter=".cat2" class="">Custom Print</button>
                    <button data-filter=".cat3">Digital Design</button>
                    <button data-filter=".cat4">Digital Experiences</button>
                    <button data-filter=".cat5">Ecommerce</button>
                  </div>
                </div>
              </div> -->
              <div class="row grid case-masonry">
                
                <div class="col-lg-4 col-lg-offset-4 mb-30 grid-item cat4 cat5 cat3">
                  <div class="case-block--startup">
                    <div class="project-item multi-side-hover mb-25">
                      <div class="image">
                        <img
                          class="image__big"
                          src="../../assets/images/aboutus/maps/multi_residencia_orchard/Orchrd-Combine(1).jpg"
                          alt="Project"
                        />
                        <a
                          class="image__link"
                          href="../../assets/images/aboutus/maps/multi_residencia_orchard/Orchrd-Combine.jpg"
                          data-fancybox
                        >
                          <i class="fas fa-arrow-right"></i>
                        </a>
                      </div>
                      <div class="item-overlay"></div>
                    </div>
                    <div class="case-content--startup">
                      <h3 class="heading">
                        <a href="javascript:return false;"  style="margin-left: 22%;"> Block-A, B, C, D & F</a>
                      </h3>
                      <span class="tags" style="margin-left: 31%;">Multi Residencia &</span>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </section>
          <!-- ======= Services Details End ======= -->

       
        </main>
        <!-- ======= Main Wrapper End ======= -->
        <script>
          function reveal() {
    var reveals = document.querySelectorAll(".reveal");
    
    for (var i = 0; i < reveals.length; i++) {
    var windowHeight = window.innerHeight;
    var elementTop = reveals[i].getBoundingClientRect().top;
    var elementVisible = 150;
    
    if (elementTop < windowHeight - elementVisible) {
      reveals[i].classList.add("active");
    } else {
      reveals[i].classList.remove("active");
    }
    }
    }
    
    window.addEventListener("scroll", reveal);
          
          </script>
        <!-- Footer -->
        <%- include('../partial/footer.ejs') %>
        <div class="progress-wrap active-progress">
          <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 227.034;"></path>
          </svg>
        </div>
    <!-- ======= jQuery Library ======= -->
    <script src="../../assets/js/jquery.min.js"></script>
    <script src="../../assets/dependencies/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="../../assets/dependencies/slick/slick.min.js"></script>
    <script src="../../assets/dependencies/parallax/parallaxie.js"></script>
    <script src="../../assets/dependencies/greensock/TweenMax.min.js"></script>
    <script src="../../assets/dependencies/tilt/vanilla-tilt.min.js"></script>
    <script src="../../assets/dependencies/counter-up/jquery.counterup.min.js"></script>
    <script src="../../assets/dependencies/waypoints/jquery.waypoints.min.js"></script>
    <script src="../../assets/dependencies/animation/wow.min.js"></script>
    <script src="../../assets/dependencies/fancybox/jquery.fancybox.min.js"></script>
    <script src="../../assets/js/modernizr-3.5.0.min.js"></script>
    <script src="../../assets/dependencies/hoverdir/jquery.hoverdir.js"></script>
    <script src="../../assets/dependencies/niceselect/jquery.nice-select.min.js"></script>
    <script src="../../assets/dependencies/anime/anime.min.js"></script>
    <script src="../../assets/dependencies/niceselect/jquery.nice-select.min.js"></script>
    <script src="../../assets/dependencies/isotope/isotope.pkgd.min.js"></script>
    <script src="../../assets/dependencies/isotope/imagesloaded.pkgd.min.js"></script>

    <!-- ======= Main JS ======= -->
    <script src="../../assets/js/main.js"></script>

    <!-- ======= Custom JS ======= -->
    <script src="../../assets/js/custom.js"></script>
    <script src="../../assets/js/navbardropdown.js"></script>
  </body>
</html>
